.aside-menu {
  border: 1px solid var(--liner);
  border-radius: 16px;
  padding: 24px;
  height: fit-content;

  &--active {
    transform: translateY(0);
  }

  &__list {
    position: relative;
  }

  &__dropdown-menu {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.2s ease;
    padding-left: 16px;

    &.show {
      margin-top: 16px;
      padding-bottom: 16px;
      overflow: visible;
      opacity: 1;
      transition: all 0.5s ease;
      max-height: 100%;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      width: 100%;
      height: 2px;
      background-color: var(--grey-light-bg-color);
      opacity: 0.5;
    }
  }

  &__dropdown-item {
    font-size: 18px;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__dropdown-link {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: 'RobotoRegular';
    transition:
      color 0.3s,
      text-decoration 0.3s;

    &--active {
      color: var(--light-blue);
      text-decoration: underline;
    }

    &:hover {
      color: var(--light-blue);
    }
  }

  &__dropdown-img {
    margin-right: 8px;
    width: 42px;
    height: 32px;
  }

  &__text {
    font-size: 11px;
    position: relative;
    display: block;
    cursor: pointer;
    font-family: 'DrukMedium';
    transition: color 0.3s;

    &::after,
    &::before {
      content: '';
      position: absolute;
      width: 16px;
      height: 2px;
      background-color: var(--blue);
      border-radius: 2px;
      top: 50%;
      right: 2px;
    }

    &::after {
      transform: translate(0, -5%);
    }

    &::before {
      transform: rotate(90deg);
      transition: transform 0.2s ease-in-out;
    }

    &--active {
      color: var(--light-blue);

      &::before {
        transform: rotate(0);
      }
    }
  }

  &__item {
    width: 100%;
    font-family: 'OswaldBold';
    font-size: 24px;
    line-height: 1.4;
    text-transform: uppercase;
    position: relative;

    &:not(:last-child) {
      padding-bottom: 24px;
      margin-bottom: 16px;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 1px;
        background-color: rgba(217, 217, 217, 1);
        opacity: 0.5;
      }
    }
  }

  &__feedback {
    &:not(:last-child),
    &:last-child {
      margin-bottom: 24px;
    }
  }

  &__btn-trigger {
    color: var(--accent-color);
    display: flex;
    align-items: center;
    text-decoration: underline;
    font-size: 16px;
    font-family: 'RobotoMedium';

    svg {
      margin-right: 4px;
    }
  }

  &__link {
    display: block;
    margin-bottom: 8px;
    text-transform: uppercase;
  }
}
