.choosing-city {
  display: flex;
  align-items: center;
  transition: color 0.3s;

  &__name {
    font-size: 14px;
    font-family: 'DrukMedium';
    color: var(--blue);
    margin-right: 8px;
  }

  &__mark {
    margin-right: 9px;
  }

  &__arrow {
    path {
      transition: all 0.3s;
    }
  }

  &:hover {
    .choosing-city__arrow {
      g {
        path {
          stroke: var(--blue);
        }
      }
    }
  }
}
