.contacts {
  &__head {
    padding: 40px 0;

    @media screen and (width <= 768px) {
      padding-top: 24px;
    }
  }

  &__head-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__head-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 511px;
    margin-right: 120px;
  }

  &__form {
    @media screen and (width <= 1024px) {
      display: none;
    }

    .form__block {
      column-gap: 8px;
      margin-bottom: 15px;
    }

    .form__btn {
      width: 290px;
      margin-bottom: 0;
    }

    .form__bot {
      margin-top: 20px;
    }
  }

  &__content-title {
    font-family: 'DrukMedium';
    font-size: 32px;
    text-transform: uppercase;
    width: 100%;
    font-weight: 500;
    margin-bottom: 40px;

    @media screen and (width <= 1024px) {
      font-size: 26px;
      max-width: 100%;
    }

    @media screen and (width <= 768px) {
      font-size: 20px;
    }
  }

  &__wrapper {
    padding: 80px 0;

    @media screen and (width <= 1024px) {
      padding: 48px 0;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    @media screen and (width <= 1024px) {
      flex-direction: column;
    }
  }

  &__info {
    max-width: 608px;

    @media screen and (width <= 1024px) {
      max-width: 100%;
      margin-bottom: 24px;
    }
  }

  &__info-item {
    &:not(:last-child) {
      margin-bottom: 24px;
    }

    &--decor {
      padding-bottom: 24px;
      margin-bottom: 40px;
      border-bottom: 1px solid var(--liner);
    }
  }

  &__info-item-wrap {
    display: flex;
    align-items: center;
  }

  &__info-icon {
    background-color: var(--bg-gray);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    margin-right: 16px;
    flex-shrink: 0;
    align-self: flex-start;

    @media screen and (width <= 768px) {
      width: 32px;
      height: 32px;
    }

    &--bg-white {
      background-color: var(--white);
    }
  }

  &__info-adress {
    display: block;
    font-family: 'DrukMedium';
  }

  &__info-time {
    font-family: 'RobotoMedium';
    color: var(--gray);
  }

  &__info-link {
    display: block;
    font-family: 'DrukMedium';
    color: var(--blue);
    transition: color 0.3s;

    &:hover {
      color: var(--light-blue);
    }
  }

  &__info-link,
  &__info-adress,
  &__info-time {
    @media screen and (width <= 768px) {
      font-size: 13px;
    }
  }

  &__info-links-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &__map {
    border-radius: 16px;

    @media screen and (width <= 1024px) {
      width: 100%;
      height: 285px;
    }
  }

  &__subtitle {
    font-size: 20px;
    font-family: 'DrukMedium';
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 16px;

    @media screen and (width <= 768px) {
      margin-bottom: 8px;
      font-size: 13px;
    }
  }

  .container--large {
    margin-bottom: 80px;

    @media screen and (width <= 768px) {
      margin-bottom: 48px;
    }
  }

  .text-block {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__descr-decor {
    position: relative;
    padding-bottom: 80px;

    @media screen and (width <= 768px) {
      padding-bottom: 48px;
    }

    &::after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: var(--liner);
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  &__content {
    margin-right: 15px;

    @media screen and (width <= 1024px) {
      margin: 0 0 24px;
    }
  }
}
