<section class="about-page">
  <div class="about-page__head head-page">
    <div class="container">
      <div class="about-page__breadcrumbs breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="index.html">Главная</a></li>
          <li class="breadcrumbs__item breadcrumbs__item--active"><span>О компании</span></li>
        </ul>
      </div>

      <div class="head-page__wrapper">
        <h3 class="head-page__subtitle">О компании</h3>
        <h1 class="head-page__title">CAVAG — крупнейший поставщик аэропортовой и аэродромной техники</h1>

        <div class="head-page__slider about-page__slider swiper">
          <ul class="head-page__slider-wrapper swiper-wrapper">
            <li class="head-page__slider-item swiper-slide">
              <h4 class="head-page__slider-title">23 ГОДА ОПЫТА</h4>
              <p class="head-page__slider-text">Колоссальный опыт поставок и реализации различных проектов в
                аэропортовом сегменте позволяет нам предлагать нашим клиентам сбалансированные решения, как с
                технической точки зрения, так и по цене.</p>
            </li>

            <li class="head-page__slider-item swiper-slide">
              <h4 class="head-page__slider-title">ШИРОКИЙ АССОРТИМЕНТ</h4>
              <p class="head-page__slider-text">Широкий перечень предлагаемой спецтехники дает нам возможность
                реализовывать комплексные поставки под ключ. Мы являемся дистрибьюторами более чем 25-ти
                заводов-изготовителей аэропортовой техники, известных во всем мире.</p>
            </li>

            <li class="head-page__slider-item swiper-slide">
              <h4 class="head-page__slider-title">КАЧЕСТВО И НАДЕЖНОСТЬ</h4>
              <p class="head-page__slider-text">Наша техника соответствует принятым международным стандартам качества,
                отлично зарекомендовала себя в России, СНГ и во всем мире, отвечает высоким требованиям современного
                рынка авиационных услуг.</p>
            </li>

            <li class="head-page__slider-item swiper-slide">
              <h4 class="head-page__slider-title">ВВОД В ЭКСПЛУАТАЦИЮ</h4>
              <p class="head-page__slider-text">Мы не просто поставляем технику в аэропорт — мы также проводим все
                необходимые пуско-наладочные работы, обучаем сотрудников аэропортов и выдаем сертификаты о пройденных
                курсах обучения.</p>
            </li>

            <li class="head-page__slider-item swiper-slide">
              <h4 class="head-page__slider-title">ВВОД В ЭКСПЛУАТАЦИЮ</h4>
              <p class="head-page__slider-text">Мы не просто поставляем технику в аэропорт — мы также проводим все
                необходимые пуско-наладочные работы, обучаем сотрудников аэропортов и выдаем сертификаты о пройденных
                курсах обучения.</p>
            </li>
          </ul>

          <div class="head-page__progressbar slider-pagination"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-page__content">
    <div class="container">
      <div class="about-page__wrapper">
        <aside class="about-page__sidemenu">
          <ul class="about-page__sidemenu-list">
            <li class="about-page__sidemenu-item">
              <a class="about-page__sidemenu-link" href="#">
                <span class="about-page__sidemenu-name">Структура компании</span>
                <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 9L9 1M9 1H1M9 1V9" stroke="#004B9A" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </a>
            </li>

            <li class="about-page__sidemenu-item">
              <a class="about-page__sidemenu-link" href="#">
                <span class="about-page__sidemenu-name">Руководство</span>
                <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 9L9 1M9 1H1M9 1V9" stroke="#004B9A" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </a>
            </li>

            <li class="about-page__sidemenu-item">
              <a class="about-page__sidemenu-link" href="#">
                <span class="about-page__sidemenu-name">Карьера и вакансии</span>
                <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 9L9 1M9 1H1M9 1V9" stroke="#004B9A" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </a>
            </li>

            <li class="about-page__sidemenu-item">
              <a class="about-page__sidemenu-link" href="#">
                <span class="about-page__sidemenu-name">Сертификаты</span>
                <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 9L9 1M9 1H1M9 1V9" stroke="#004B9A" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </a>
            </li>

            <li class="about-page__sidemenu-item">
              <a class="about-page__sidemenu-link" href="#">
                <span class="about-page__sidemenu-name">Дипломы</span>
                <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 9L9 1M9 1H1M9 1V9" stroke="#004B9A" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </a>
            </li>

            <li class="about-page__sidemenu-item">
              <a class="about-page__sidemenu-link" href="#">
                <span class="about-page__sidemenu-name">Отзывы</span>
                <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 9L9 1M9 1H1M9 1V9" stroke="#004B9A" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </a>
            </li>
          </ul>
        </aside>

        <div class="about-page__inner">
          <div class="about-page__text text-block">
            <p class="text-block__text">На протяжении 23-х лет мы занимаем лидирующие позиции в своей отрасли и
              зарекомендовали себя как надежный партнер, при
              этом компания продолжает успешное развитие во всех сегментах рынка аэропортовых услуг и видит широкие
              возможности для
              дальнейшего роста.</p>
            <p class="text-block__text">CAVAG трансформирует технологические знания своих партнеров и нашей команды в
              новые идеи, помогающие нашим клиентам
              повышать уровень конкурентоспособности и достигать более высоких результатов.</p>
            <p class="text-block__text">Наша команда насчитывает более 100 человек — менеджеров, инженеров, аналитиков,
              конструкторов, логистов и управляющий
              персонал. Мы проводим обучение наших специалистов на базе совместных программ с ведущими мировыми
              заводами-производителями спецтехники, способствуя развитию бизнеса и повышению уровня квалификации наших
              сотрудников.</p>
            <p class="text-block__text">Техника для аэропортов и аэродромов, поставленная группой компаний CAVAG,
              обеспечивает бесперебойную деятельность
              крупнейших аэропортов России и СНГ. Мы выстроили долгосрочные партнерские отношения с крупнейшими
              аэропортами России,
              такими как Домодедово, Шереметьево, Внуково, Пулково, Сочи, Симферополь, Екатеринбург, Толмачево,
              Краснодар, Уфа,
              Ростов-на-Дону, Самара, Казань, Хабаровск, Владивосток, Красноярск, Калининград, Минеральные Воды,
              Иркутск, Тюмень,
              Челябинск, Южно-Сахалинск и многими другими.</p>
            <p class="text-block__text">С 2000-го года компания поставила для аэропортов России и СНГ более 3000 единиц
              спецтехники. Основываясь на выдающемся
              инженерном опыте, инновациях и глубокой отраслевой экспертизе, мы предлагаем нашим клиентам
              сбалансированные решения,
              которые позволяют реализовывать даже самые сложные задачи.</p>
            <p class="text-block__text">Основная задача нашей компании — обеспечивать аэропорты России и СНГ
              качественной аэропортовой спецтехникой от
              крупнейших заводов с мировым именем для безопасного и эффективного обслуживания воздушных судов и
              пассажиров.</p>
          </div>

          <div class="about-page__presentation container-decor">
            <img class="about-page__presentation-img" src="img/about/airplane.jpg" alt="Картинка">

            <div class="about-page__presentation-content">
              <svg class="about-page__presentation-icon" width="60" height="60" viewBox="0 0 60 60" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M17.5 45V38.75M17.5 38.75V35C17.5 33.8225 17.5 33.2325 17.885 32.865C18.27 32.5 18.8875 32.5 20.125 32.5H21.875C23.6875 32.5 25.1575 33.9 25.1575 35.625C25.1575 37.35 23.6875 38.75 21.875 38.75H17.5ZM52.5 32.5H49.22C47.1575 32.5 46.125 32.5 45.485 33.11C44.845 33.72 44.845 34.7025 44.845 36.6675V38.75M44.845 38.75V45M44.845 38.75H50.3125M39.375 38.75C39.375 42.2 36.4375 45 32.8125 45C31.995 45 31.5875 45 31.28 44.8325C30.5525 44.4325 30.625 43.62 30.625 42.9175V34.5825C30.625 33.88 30.55 33.0675 31.28 32.6675C31.585 32.5 31.995 32.5 32.8125 32.5C36.4375 32.5 39.375 35.3 39.375 38.75Z"
                  stroke="#00AEF1" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M37.5 55H26.8175C18.6675 55 14.5875 55 11.7575 53.005C10.9521 52.4402 10.2322 51.7624 9.62 50.9925C7.5 48.3275 7.5 44.4925 7.5 36.8175V30.455C7.5 23.0475 7.5 19.3425 8.6725 16.385C10.5575 11.6275 14.5425 7.8775 19.5975 6.1025C22.7375 5 26.67 5 34.545 5C39.04 5 41.29 5 43.085 5.63C45.9725 6.645 48.25 8.7875 49.3275 11.505C50 13.195 50 15.3125 50 19.545V25"
                  stroke="#00AEF1" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M7.5 30C7.5 27.7901 8.37789 25.6707 9.94053 24.108C11.5032 22.5454 13.6226 21.6675 15.8325 21.6675C17.4975 21.6675 19.46 21.9575 21.0775 21.525C21.7843 21.3348 22.4286 20.9621 22.9459 20.4444C23.4633 19.9266 23.8354 19.2819 24.025 18.575C24.4575 16.9575 24.1675 14.995 24.1675 13.33C24.1682 11.1205 25.0463 9.00175 26.6089 7.43965C28.1715 5.87754 30.2905 5 32.5 5"
                  stroke="#00AEF1" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              </svg>

              <span class="about-page__presentation-title">Презентация компании</span>
              <span class="about-page__presentation-size">1,3 мб</span>

              <a class="about-page__download-btn button-primary" href="#">
                <span class="button-primary__text">Скачать</span>
                <i class="button-primary__icon">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                  </svg>
                </i>
              </a>
            </div>
          </div>

          <a class="about-page__more-btn button-primary" href="#">
            <span class="button-primary__text">Подробнее о структуре компании</span>
            <i class="button-primary__icon">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
              </svg>
            </i>
          </a>

          <h2 class="about-page__title-block title-block">КОМПЛЕКСНЫЕ ПОСТАВКИ</h2>

          <div class="about-page__text text-block">
            <p class="text-block__text">Многолетнее сотрудничество компании CAVAG с более чем 25-ю мировыми заводами
              изготовителями аэропортовой спецтехники даёт нам возможность не только осуществлять разовые продажи
              техники в аэропорты, но также реализовывать комплексные поставки средств наземного обслуживания ВС и машин
              для содержания аэродрома и прилегающих территорий.
            </p>
          </div>

          <div class="about-page__plan plan">
            <img class="plan__img" src="img/about/plan.png" alt="План">
          </div>

          <div class="about-page__text about-page__text--margin-80 text-block">
            <p class="text-block__text">На сегодняшний день CAVAG — единственная компания на рынке авиационных услуг на
              территории России и стран СНГ, имеющая возможность реализовать комплексную поставку всей спецтехники,
              которая необходима для обеспечения бесперебойной работы всех служб аэропорта: от телескопических трапов до
              пожарных машин.
            </p>
            <p class="text-block__text">Мы поставляем лучшие средства наземного обслуживания ВС от мировых российских,
              европейских и американских заводов.
            </p>
          </div>

          <h2 class="about-page__title-block title-block">Наши реквизиты</h2>

          <table class="about-page__table table container-decor">
            <tbody class="table__body">
              <tr class="table__row">
                <td class="table__item-name">Сокращенное наименование фирмы</td>
                <td class="table__item">Общество с ограниченной ответственностью « Технотрейд»</td>
              </tr>

              <tr class="table__row">
                <td class="table__item-name">Сокращенное наименование фирмы</td>
                <td class="table__item">ООО «Технотрейд»</td>
              </tr>

              <tr class="table__row">
                <td class="table__item-name">Юридический адрес</td>
                <td class="table__item">123610, Москва г, Краснопресненская наб, дом № 12, 18 этаж, помещение IД, комн.
                  2 с ограниченной ответственностью «Технотрейд»</td>
              </tr>

              <tr class="table__row">
                <td class="table__item-name">Почтовый адрес</td>
                <td class="table__item">123610, Москва г, Краснопресненская наб, дом № 12, 18 этаж, помещение IД, комн.
                  2</td>
              </tr>

              <tr class="table__row">
                <td class="table__item-name">ИНН</td>
                <td class="table__item">7703725518</td>
              </tr>

              <tr class="table__row">
                <td class="table__item-name">КПП</td>
                <td class="table__item">770301001</td>
              </tr>

              <tr class="table__row">
                <td class="table__item-name">Адрес на английском языке</td>
                <td class="table__item">RU, Moscow, Krasnopresnenskaia nab, bld/12, pom 1d, floor 18, room 2</td>
              </tr>

              <tr class="table__row">
                <td class="table__item-name">ОГРН</td>
                <td class="table__item">1107746607044</td>
              </tr>

              <tr class="table__row">
                <td class="table__item-name">ОКТМО</td>
                <td class="table__item">45380000</td>
              </tr>

              <tr class="table__row">
                <td class="table__item-name">Расчетный счет в рублях</td>
                <td class="table__item">40702810340000022554</td>
              </tr>

              <tr class="table__row">
                <td class="table__item-name">Расчетный счет Доллар США</td>
                <td class="table__item">40702840840000001498</td>
              </tr>

              <tr class="table__row">
                <td class="table__item-name">Расчетный счет Евро</td>
                <td class="table__item">40702978540000001327</td>
              </tr>

              <tr class="table__row">
                <td class="table__item-name">Банк</td>
                <td class="table__item">ПАО СБЕРБАНК г. Москва</td>
              </tr>

              <tr class="table__row">
                <td class="table__item-name">Корреспондентский счет</td>
                <td class="table__item">№ 30101810400000000225 в ОПЕРУ МГТУ Банка России</td>
              </tr>

              <tr class="table__row">
                <td class="table__item-name">БИК</td>
                <td class="table__item">044525225</td>
              </tr>

              <tr class="table__row">
                <td class="table__item-name">Генеральный директор</td>
                <td class="table__item">Очкинас Дмитриюс</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="about-page__partners partners">
    <div class="container">
      <div class="partners__wrapper partners__wrapper--bottom-line partners__wrapper--top-line">

        <h2 class="partners__title title-block">Наши партнеры</h2>

        <ul class="partners__list">
          <li class="partners__item">
            <img class="partners__img" src="img/partners/1.png" alt="Логотип партнера">
          </li>

          <li class="partners__item">
            <img class="partners__img" src="img/partners/2.png" alt="Логотип партнера">
          </li>

          <li class="partners__item">
            <img class="partners__img" src="img/partners/3.png" alt="Логотип партнера">
          </li>

          <li class="partners__item">
            <img class="partners__img" src="img/partners/4.png" alt="Логотип партнера">
          </li>

          <li class="partners__item partners__item--mobile">
            <img class="partners__img" src="img/partners/5.png" alt="Логотип партнера">
          </li>

          <li class="partners__item partners__item--mobile">
            <img class="partners__img" src="img/partners/6.png" alt="Логотип партнера">
          </li>
        </ul>
      </div>
    </div>

  </div>

  <div class="about-page__map map">
    <div class="container">
      <h2 class="partners__title title-block">Карта поставок</h2>

      <div class="ya-map container-decor"></div>
    </div>
  </div>
</section>