<div class="container container--large">
  <div class="container-decor container-decor--decor-none">
    <section class="about">
      <div class="container">
        <div class="about__wrapper">
          <div class="about__inner">
            <div class="about__content">
              <h2 class="about__title title-block">О компании</h2>

              <img class="about__img about__img--mobile" src="img/about/airplane.jpg" alt="Самолет">

              <div class="about__text text-block">
                <p class="text-block__text">CAVAG — крупнейшая в России и СНГ компания по поставкам специальной
                  аэропортовой и аэродромной техники, присутствующая во всех сегментах рынка аэропортовых услуг России и
                  стран СНГ.</p>
                <p class="text-block__text">Основная задача нашей компании — обеспечивать аэропорты России и СНГ
                  качественной аэропортовой спецтехникой от крупнейших заводов с мировым именем для безопасного и
                  эффективного обслуживания воздушных судов и пассажиров.</p>
              </div>

              <div class="about__buttons">
                <a class="about__button-primary button-primary" href="#">
                  <span class="button-primary__text">Подробнее</span>
                  <i class="button-primary__icon">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                    </svg>
                  </i>
                </a>

                <a class="about__download-btn button-transparent" href="#">
                  <span class="button-transparent__text"> Скачать каталог</span>

                  <i class="button-transparent__icon">
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 11H11M6 1V8M6 8L8.91667 4.9375M6 8L3.08333 4.9375" stroke="white" stroke-width="1.5"
                        stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                  </i>
                </a>
              </div>
            </div>

            <img class="about__img" src="img/about/airplane.jpg" alt="Самолет">
          </div>

          <ul class="about__list">
            <li class="about__item">
              <span class="about__item-num">>25</span>
              <span class="about__item-descr">лет успешной работы</span>
            </li>

            <li class="about__item">
              <span class="about__item-num">>5 000</span>
              <span class="about__item-descr">поставлено единиц техники</span>
            </li>

            <li class="about__item">
              <span class="about__item-num">>150</span>
              <span class="about__item-descr">специалистов в компании</span>
            </li>

            <li class="about__item">
              <span class="about__item-num">>5 000</span>
              <span class="about__item-descr">запчастей в наличии на складе</span>
            </li>

            <li class="about__item">
              <span class="about__item-num">24/7/365</span>
              <span class="about__item-descr">cервисная служба </span>
            </li>

            <li class="about__item">
              <span class="about__item-num">Под ключ</span>
              <span class="about__item-descr">комплексные решения</span>
            </li>
          </ul>


        </div>
      </div>
    </section>

    <section class="partners">
      <div class="container">
        <div class="partners__wrapper partners__wrapper--top-line">
          <h2 class="partners__title title-block">Наши партнеры</h2>

          <ul class="partners__list">
            <li class="partners__item">
              <img class="partners__img" src="img/partners/1.png" alt="Логотип партнера">
            </li>

            <li class="partners__item">
              <img class="partners__img" src="img/partners/2.png" alt="Логотип партнера">
            </li>

            <li class="partners__item">
              <img class="partners__img" src="img/partners/3.png" alt="Логотип партнера">
            </li>

            <li class="partners__item">
              <img class="partners__img" src="img/partners/4.png" alt="Логотип партнера">
            </li>

            <li class="partners__item partners__item--mobile">
              <img class="partners__img" src="img/partners/5.png" alt="Логотип партнера">
            </li>

            <li class="partners__item partners__item--mobile">
              <img class="partners__img" src="img/partners/6.png" alt="Логотип партнера">
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>