<section class="catalog-category">
  <div class="catalog-category__head head-page">
    <div class="container">
      <div class="head-page__breadcrumbs breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="index.html">Главная</a></li>
          <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Техника</a></li>
          <li class="breadcrumbs__item breadcrumbs__item--active"><span>Обслуживание пассажиров</span></li>
        </ul>
      </div>

      <div class="head-page__wrapper">
        <h3 class="head-page__subtitle">Обслуживание пассажиров</h3>
        <h1 class="head-page__title">Эффективные Решения <br> для Обслуживания Пассажиров</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="catalog-category__wrap">
      <aside class="catalog-category__menu aside-menu">
        <ul class="aside-menu__list">
          <li class="aside-menu__item aside-menu__dropdown">
            <span class="aside-menu__text" data-toggle="dropdown">Обслуживание пассажиров</span>
            <ul class="aside-menu__dropdown-menu">
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Пассажирские трапы
                </a>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Телескопические пассажирские трапы
                </a>
              </li>
              <li>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Самоходные пассажирские трапы
                </a>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Прицепные пассажирские трапы
                </a>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Перронные автобусы
                </a>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Амбулаторные автолифты
                </a>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Кейтеринговые автолифты
                </a>
              </li>
            </ul>
          </li>

          <li class="aside-menu__item aside-menu__dropdown">
            <span class="aside-menu__text" data-toggle="dropdown">Обслуживание воздушных судов</span>
            <ul class="aside-menu__dropdown-menu">
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Пассажирские трапы
                </a>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Телескопические пассажирские трапы
                </a>
              </li>
              <li>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Самоходные пассажирские трапы
                </a>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Прицепные пассажирские трапы
                </a>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Перронные автобусы
                </a>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Амбулаторные автолифты
                </a>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Кейтеринговые автолифты
                </a>
              </li>
            </ul>
          </li>

          <li class="aside-menu__item aside-menu__dropdown">
            <span class="aside-menu__text" data-toggle="dropdown">Обработка грузов
              и багажа</span>
            <ul class="aside-menu__dropdown-menu">
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Пассажирские трапы
                </a>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Телескопические пассажирские трапы
                </a>
              </li>
              <li>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Самоходные пассажирские трапы
                </a>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Прицепные пассажирские трапы
                </a>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Перронные автобусы
                </a>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Амбулаторные автолифты
                </a>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Кейтеринговые автолифты
                </a>
              </li>
            </ul>
          </li>

          <li class="aside-menu__item aside-menu__dropdown">
            <span class="aside-menu__text" data-toggle="dropdown">Содержание и уборка аэродрома</span>
            <ul class="aside-menu__dropdown-menu">
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Пассажирские трапы
                </a>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Телескопические пассажирские трапы
                </a>
              </li>
              <li>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Самоходные пассажирские трапы
                </a>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Прицепные пассажирские трапы
                </a>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Перронные автобусы
                </a>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Амбулаторные автолифты
                </a>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Кейтеринговые автолифты
                </a>
              </li>
            </ul>
          </li>

          <li class="aside-menu__item aside-menu__dropdown">
            <span class="aside-menu__text" data-toggle="dropdown">Оборудование для спасоп</span>
            <ul class="aside-menu__dropdown-menu">
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Пассажирские трапы
                </a>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Телескопические пассажирские трапы
                </a>
              </li>
              <li>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Самоходные пассажирские трапы
                </a>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Прицепные пассажирские трапы
                </a>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Перронные автобусы
                </a>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Амбулаторные автолифты
                </a>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Кейтеринговые автолифты
                </a>
              </li>
            </ul>
          </li>

          <li class="aside-menu__item aside-menu__dropdown">
            <span class="aside-menu__text" data-toggle="dropdown">Внутритерминальное оборудование</span>
            <ul class="aside-menu__dropdown-menu">
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Пассажирские трапы
                </a>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Телескопические пассажирские трапы
                </a>
              </li>
              <li>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Самоходные пассажирские трапы
                </a>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Прицепные пассажирские трапы
                </a>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Перронные автобусы
                </a>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Амбулаторные автолифты
                </a>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Кейтеринговые автолифты
                </a>
              </li>
            </ul>
          </li>

          <li class="aside-menu__item aside-menu__dropdown">
            <span class="aside-menu__text" data-toggle="dropdown">Вспомогательное оборудование</span>
            <ul class="aside-menu__dropdown-menu">
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Пассажирские трапы
                </a>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Телескопические пассажирские трапы
                </a>
              </li>
              <li>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Самоходные пассажирские трапы
                </a>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Прицепные пассажирские трапы
                </a>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Перронные автобусы
                </a>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Амбулаторные автолифты
                </a>
              </li>
              <li class="aside-menu__dropdown-item">
                <a class="aside-menu__dropdown-link" href="#">
                  Кейтеринговые автолифты
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </aside>

      <ul class="catalog-category__list catalog-list">
        <li class="catalog-list__item">
          <a class="catalog-list__link" href="#">
            <h3 class="catalog-list__title">Пассажирские трапы</h3>
            <img class="catalog-list__img" src="img/catalog-category/item-1.png" alt="Картинка техники">

            <span class="catalog-list__decor">
              <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 9L9 1M9 1H1M9 1V9" stroke="#00aef1" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </span>
          </a>
        </li>

        <li class="catalog-list__item">
          <a class="catalog-list__link" href="#">
            <h3 class="catalog-list__title">Телескопические пассажирские трапы</h3>
            <img class="catalog-list__img" src="img/catalog-category/item-2.png" alt="Картинка техники">

            <span class="catalog-list__decor">
              <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 9L9 1M9 1H1M9 1V9" stroke="#00aef1" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </span>
          </a>
        </li>

        <li class="catalog-list__item">
          <a class="catalog-list__link" href="#">
            <h3 class="catalog-list__title">Самоходные пассажирские трапы</h3>
            <img class="catalog-list__img" src="img/catalog-category/item-3.png" alt="Картинка техники">

            <span class="catalog-list__decor">
              <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 9L9 1M9 1H1M9 1V9" stroke="#00aef1" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </span>
          </a>
        </li>

        <li class="catalog-list__item">
          <a class="catalog-list__link" href="#">
            <h3 class="catalog-list__title">Прицепные пассажирские трапы</h3>
            <img class="catalog-list__img" src="img/catalog-category/item-4.png" alt="Картинка техники">

            <span class="catalog-list__decor">
              <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 9L9 1M9 1H1M9 1V9" stroke="#00aef1" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </span>
          </a>
        </li>

        <li class="catalog-list__item">
          <a class="catalog-list__link" href="#">
            <h3 class="catalog-list__title">Перронные автобусы</h3>
            <img class="catalog-list__img" src="img/catalog-category/item-5.png" alt="Картинка техники">

            <span class="catalog-list__decor">
              <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 9L9 1M9 1H1M9 1V9" stroke="#00aef1" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </span>
          </a>
        </li>

        <li class="catalog-list__item">
          <a class="catalog-list__link" href="#">
            <h3 class="catalog-list__title">Амбулаторные автолифты</h3>
            <img class="catalog-list__img" src="img/catalog-category/item-6.png" alt="Картинка техники">

            <span class="catalog-list__decor">
              <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 9L9 1M9 1H1M9 1V9" stroke="#00aef1" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </span>
          </a>
        </li>

        <li class="catalog-list__item">
          <a class="catalog-list__link" href="#">
            <h3 class="catalog-list__title">Кейтеринговые автолифты</h3>
            <img class="catalog-list__img" src="img/catalog-category/item-7.png" alt="Картинка техники">

            <span class="catalog-list__decor">
              <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 9L9 1M9 1H1M9 1V9" stroke="#00aef1" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="container container--large">
    <div class="container-decor">
      <div class="in-stock">
        <div class="container">

          <div class="in-stock__head">
            <h2 class="in-stock__title title-block">Техника в наличии</h2>

            <a class="in-stock__button-primary button-primary" href="#">
              <span class="button-primary__text">Весь каталог</span>
              <i class="button-primary__icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                </svg>
              </i>
            </a>
          </div>

          <div class="in-stock__slider-wrapper">
            <div class="in-stock__slider swiper">
              <ul class="in-stock__list swiper-wrapper">
                <li class="in-stock__item swiper-slide">
                  <article class="technic-card">
                    <a class="technic-card__link" href="#">
                      <div class="technic-card__badge">
                        <div class="technic-card__badge-info technic-card__badge-info--green">В&nbsp;наличии</div>
                      </div>

                      <img class="technic-card__img" src="img/technic/technic-card-img.png" alt="Картинка">

                      <h3 class="technic-card__title">Коленчатый подъемник Dingli BA11NE</h3>

                      <ul class="technic-card__list">
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Собственный вес</span>
                          <span class="technic-card__item-right">9000 кг</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Максимальный вес</span>
                          <span class="technic-card__item-right">11/13/15 т</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Габариты</span>
                          <span class="technic-card__item-right">5435 х 2240 х 2000 мм</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Радиус разворота</span>
                          <span class="technic-card__item-right">4900мм</span>
                        </li>
                      </ul>
                    </a>

                    <div class="technic-card__bot">

                      <a class="technic-card__button-primary button-primary" href="#" data-graph-path="request-kp">
                        <span class="button-primary__text">Получить КП</span>
                        <i class="button-primary__icon">
                          <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                          </svg>
                        </i>
                      </a>

                      <a class="technic-card__more" href="#">
                        <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                        </svg>
                      </a>
                    </div>
                  </article>
                </li>

                <li class="in-stock__item swiper-slide">
                  <article class="technic-card">
                    <a class="technic-card__link" href="#">
                      <div class="technic-card__badge">
                        <div class="technic-card__badge-info technic-card__badge-info--green">В&nbsp;наличии</div>
                      </div>

                      <img class="technic-card__img" src="img/technic/technic-card-img.png" alt="Картинка">

                      <h3 class="technic-card__title">Коленчатый подъемник Dingli BA11NE</h3>

                      <ul class="technic-card__list">
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Собственный вес</span>
                          <span class="technic-card__item-right">9000 кг</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Максимальный вес</span>
                          <span class="technic-card__item-right">11/13/15 т</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Габариты</span>
                          <span class="technic-card__item-right">5435 х 2240 х 2000 мм</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Радиус разворота</span>
                          <span class="technic-card__item-right">4900мм</span>
                        </li>
                      </ul>
                    </a>

                    <div class="technic-card__bot">

                      <a class="technic-card__button-primary button-primary" href="#" data-graph-path="request-kp">
                        <span class="button-primary__text">Получить КП</span>
                        <i class="button-primary__icon">
                          <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                          </svg>
                        </i>
                      </a>

                      <a class="technic-card__more" href="#">
                        <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                        </svg>
                      </a>
                    </div>
                  </article>
                </li>

                <li class="in-stock__item swiper-slide">
                  <article class="technic-card">
                    <a class="technic-card__link" href="#">
                      <div class="technic-card__badge">
                        <div class="technic-card__badge-info technic-card__badge-info--green">В&nbsp;наличии</div>
                      </div>

                      <img class="technic-card__img" src="img/technic/technic-card-img.png" alt="Картинка">

                      <h3 class="technic-card__title">Коленчатый подъемник Dingli BA11NE</h3>

                      <ul class="technic-card__list">
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Собственный вес</span>
                          <span class="technic-card__item-right">9000 кг</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Максимальный вес</span>
                          <span class="technic-card__item-right">11/13/15 т</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Габариты</span>
                          <span class="technic-card__item-right">5435 х 2240 х 2000 мм</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Радиус разворота</span>
                          <span class="technic-card__item-right">4900мм</span>
                        </li>
                      </ul>
                    </a>

                    <div class="technic-card__bot">

                      <a class="technic-card__button-primary button-primary" href="#" data-graph-path="request-kp">
                        <span class="button-primary__text">Получить КП</span>
                        <i class="button-primary__icon">
                          <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                          </svg>
                        </i>
                      </a>

                      <a class="technic-card__more" href="#">
                        <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                        </svg>
                      </a>
                    </div>
                  </article>
                </li>

                <li class="in-stock__item swiper-slide">
                  <article class="technic-card">
                    <a class="technic-card__link" href="#">
                      <div class="technic-card__badge">
                        <div class="technic-card__badge-info technic-card__badge-info--green">В&nbsp;наличии</div>
                      </div>

                      <img class="technic-card__img" src="img/technic/technic-card-img.png" alt="Картинка">

                      <h3 class="technic-card__title">Коленчатый подъемник Dingli BA11NE</h3>

                      <ul class="technic-card__list">
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Собственный вес</span>
                          <span class="technic-card__item-right">9000 кг</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Максимальный вес</span>
                          <span class="technic-card__item-right">11/13/15 т</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Габариты</span>
                          <span class="technic-card__item-right">5435 х 2240 х 2000 мм</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Радиус разворота</span>
                          <span class="technic-card__item-right">4900мм</span>
                        </li>
                      </ul>
                    </a>

                    <div class="technic-card__bot">

                      <a class="technic-card__button-primary button-primary" href="#" data-graph-path="request-kp">
                        <span class="button-primary__text">Получить КП</span>
                        <i class="button-primary__icon">
                          <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                          </svg>
                        </i>
                      </a>

                      <a class="technic-card__more" href="#">
                        <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                        </svg>
                      </a>
                    </div>
                  </article>
                </li>

                <li class="in-stock__item swiper-slide">
                  <article class="technic-card">
                    <a class="technic-card__link" href="#">
                      <div class="technic-card__badge">
                        <div class="technic-card__badge-info technic-card__badge-info--green">В&nbsp;наличии</div>
                      </div>

                      <img class="technic-card__img" src="img/technic/technic-card-img.png" alt="Картинка">

                      <h3 class="technic-card__title">Коленчатый подъемник Dingli BA11NE</h3>

                      <ul class="technic-card__list">
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Собственный вес</span>
                          <span class="technic-card__item-right">9000 кг</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Максимальный вес</span>
                          <span class="technic-card__item-right">11/13/15 т</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Габариты</span>
                          <span class="technic-card__item-right">5435 х 2240 х 2000 мм</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Радиус разворота</span>
                          <span class="technic-card__item-right">4900мм</span>
                        </li>
                      </ul>
                    </a>

                    <div class="technic-card__bot">

                      <a class="technic-card__button-primary button-primary" href="#" data-graph-path="request-kp">
                        <span class="button-primary__text">Получить КП</span>
                        <i class="button-primary__icon">
                          <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                          </svg>
                        </i>
                      </a>

                      <a class="technic-card__more" href="#">
                        <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                        </svg>
                      </a>
                    </div>
                  </article>
                </li>

                <li class="in-stock__item swiper-slide">
                  <article class="technic-card">
                    <a class="technic-card__link" href="#">
                      <div class="technic-card__badge">
                        <div class="technic-card__badge-info technic-card__badge-info--green">В&nbsp;наличии</div>
                      </div>

                      <img class="technic-card__img" src="img/technic/technic-card-img.png" alt="Картинка">

                      <h3 class="technic-card__title">Коленчатый подъемник Dingli BA11NE</h3>

                      <ul class="technic-card__list">
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Собственный вес</span>
                          <span class="technic-card__item-right">9000 кг</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Максимальный вес</span>
                          <span class="technic-card__item-right">11/13/15 т</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Габариты</span>
                          <span class="technic-card__item-right">5435 х 2240 х 2000 мм</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Радиус разворота</span>
                          <span class="technic-card__item-right">4900мм</span>
                        </li>
                      </ul>
                    </a>

                    <div class="technic-card__bot">

                      <a class="technic-card__button-primary button-primary" href="#" data-graph-path="request-kp">
                        <span class="button-primary__text">Получить КП</span>
                        <i class="button-primary__icon">
                          <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                          </svg>
                        </i>
                      </a>

                      <a class="technic-card__more" href="#">
                        <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                        </svg>
                      </a>
                    </div>
                  </article>
                </li>
              </ul>
            </div>

            <div class="in-stock__slider-controls">
              <button
                class="in-stock__slider-controls-prev slider-control slider-control--light-blue slider-control--prev"
                aria-label="Назад">
                <svg width="9" height="18" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 19L10 10L1 1" stroke="#00aef1" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </button>

              <div class="in-stock__progressbar slider-pagination"></div>

              <button
                class="in-stock__slider-controls-next slider-control slider-control--light-blue slider-control--next"
                aria-label="Назад">
                <svg width="9" height="18" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 19L10 10L1 1" stroke="#00aef1" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </button>
            </div>

            <a class="in-stock__button-primary in-stock__button-primary--mobile button-primary" href="#">
              <span class="button-primary__text">Весь каталог</span>
              <i class="button-primary__icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                </svg>
              </i>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="partners">
    <div class="container">
      <h2 class="partners__title partners__title--margin title-block">Наши партнеры</h2>
    </div>

    <div class="partners__wrapper partners__wrapper--bottom-line carousel">
      <ul class="partners__list carousel__items">
        <li class="partners__item">
          <img class="partners__img" src="img/clients/1.jpg" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/2.jpg" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/3.jpg" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/4.jpg" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/5.jpg" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/6.jpg" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/7.jpg" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/8.jpg" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/9.jpg" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/10.jpg" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/11.jpg" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/12.jpg" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/13.jpg" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/14.jpg" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/15.jpg" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/16.jpg" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/17.jpg" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/18.jpg" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/19.jpg" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/20.jpg" alt="Логотип партнера">
        </li>
      </ul>

      <ul aria-hidden="" class="partners__list carousel__items">
        <li class="partners__item">
          <img class="partners__img" src="img/clients/1.jpg" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/2.jpg" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/3.jpg" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/4.jpg" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/5.jpg" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/6.jpg" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/7.jpg" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/8.jpg" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/9.jpg" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/10.jpg" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/11.jpg" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/12.jpg" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/13.jpg" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/14.jpg" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/15.jpg" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/16.jpg" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/17.jpg" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/18.jpg" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/19.jpg" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/20.jpg" alt="Логотип партнера">
        </li>
      </ul>
    </div>
  </div>

  <div class="seo-block">
    <div class="container">
      <div class="seo-block__wrapper">
        <div class="text-block">
          <p class="text-block__text">Техника для обслуживания пассажиров в аэропорту играет важную роль в обеспечении
            комфорта и безопасности пассажиров. Компания ООО «ТЕХНОТРЕЙД» осуществляет поставки специальной техники
            для
            обслуживания пассажиров в аэропорту. Техника для аэропортов помогает организовать быструю работу наземных
            служб и, обеспечить комфортные условия для всех пассажиров.</p>
          <p class="text-block__text">Современное оснащение аэропортов и аэродромов избавит авиакомпанию и ее клиентов
            от различных неприятных ситуаций таких как задержка багажа, поздняя подача трапа, и многое другое.
            Качественный сервис и безопасность – самое главное в работе любого аэропорта. Существуют различные типы
            спецтехники для обслуживания пассажиров в аэропорту:</p>
        </div>

        <h3 class="seo-block__title">Особенности техники</h3>

        <div class="text-block">
          <p class="text-block__text">Техника для обслуживания пассажиров в аэропорту включает в себя разнообразное
            оборудование, предназначенное для обеспечения комфорта и безопасности пассажиров при посадке, высадке и
            перемещении по территории аэропорта. Различные виды спецтехники обладают своими уникальными особенностями
            и
            преимуществами.</p>
        </div>

        <h3 class="seo-block__title">Преимущества</h3>

        <div class="text-block">
          <p class="text-block__text">Специальная техника для обслуживания пассажиров в аэропорту обеспечивает высокий
            уровень комфорта и
            безопасности. Регулируемые секции телескопических трапов делают посадку и высадку удобной и безопасной.
            Самоходные трапы мобильны и автономны, что позволяет быстро обслуживать самолеты, даже в ограниченных
            пространствах. Наличие собственного двигателя делает их независимыми от внешних источников питания,
            повышая
            удобство и эффективность использования.</p>
        </div>

        <h3 class="seo-block__title">Как заказать</h3>

        <div class="text-block">
          <p class="text-block__text">Чтобы купить технику для обслуживания пассажиров в аэропорту позвоните по
            телефонам указанным на сайте, отправьте запрос через форму или по электронной почте. Мы работаем только с
            надежными, проверенными поставщиками и предоставляем полную техническую информацию по каждой модели.
            Организуем доставку на ваш объект и выполняем комплексное сервисное и постпродажное обслуживание.</p>
          <p class="text-block__text">Широкий ассортимент сертифицированных запчастей и материалов позволяет
            поддерживать технику в отличном рабочем состоянии. Будем рады видеть вашу компанию в числе наших
            постоянных
            партнеров.</p>
        </div>
      </div>
    </div>
  </div>
</section>