<section class="catalog">
  <div class="container">
    <h2 class="catalog__title title-block">CAVAG — техника для аэропортов и аэродромов, наземная спецтехника</h2>

    <div class="catalog__list-wrapper">
      <ul class="catalog__list catalog-list">
        <li class="catalog-list__item swiper-slide">
          <a class="catalog-list__link" href="#">
            <h3 class="catalog-list__title">Обслуживание пассажиров</h3>
            <img class="catalog-list__img" src="img/catalog-list/1.png" alt="Картинка техники">

            <span class="catalog-list__decor">
              <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 9L9 1M9 1H1M9 1V9" stroke="#00aef1" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </span>
          </a>
        </li>

        <li class="catalog-list__item swiper-slide">
          <a class="catalog-list__link" href="#">
            <h3 class="catalog-list__title">Обслуживание воздушных судов</h3>
            <img class="catalog-list__img" src="img/catalog-list/2.png" alt="Картинка техники">

            <span class="catalog-list__decor">
              <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 9L9 1M9 1H1M9 1V9" stroke="#00aef1" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </span>
          </a>
        </li>

        <li class="catalog-list__item swiper-slide">
          <a class="catalog-list__link" href="#">
            <h3 class="catalog-list__title">Обработка грузов
              и багажа</h3>
            <img class="catalog-list__img" src="img/catalog-list/3.png" alt="Картинка техники">

            <span class="catalog-list__decor">
              <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 9L9 1M9 1H1M9 1V9" stroke="#00aef1" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </span>
          </a>
        </li>

        <li class="catalog-list__item swiper-slide">
          <a class="catalog-list__link" href="#">
            <h3 class="catalog-list__title">Содержание и уборка аэродрома</h3>
            <img class="catalog-list__img" src="img/catalog-list/4.png" alt="Картинка техники">

            <span class="catalog-list__decor">
              <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 9L9 1M9 1H1M9 1V9" stroke="#00aef1" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </span>
          </a>
        </li>

        <li class="catalog-list__item swiper-slide">
          <a class="catalog-list__link" href="#">
            <h3 class="catalog-list__title">Оборудование для спасоп</h3>
            <img class="catalog-list__img" src="img/catalog-list/5.png" alt="Картинка техники">

            <span class="catalog-list__decor">
              <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 9L9 1M9 1H1M9 1V9" stroke="#00aef1" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </span>
          </a>
        </li>

        <li class="catalog-list__item swiper-slide">
          <a class="catalog-list__link" href="#">
            <h3 class="catalog-list__title">Внутритерминальное оборудование</h3>
            <img class="catalog-list__img" src="img/catalog-list/6.png" alt="Картинка техники">

            <span class="catalog-list__decor">
              <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 9L9 1M9 1H1M9 1V9" stroke="#00aef1" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </span>
          </a>
        </li>

        <li class="catalog-list__item swiper-slide">
          <a class="catalog-list__link" href="#">
            <h3 class="catalog-list__title">Вспомогательное оборудование</h3>
            <img class="catalog-list__img" src="img/catalog-list/7.png" alt="Картинка техники">

            <span class="catalog-list__decor">
              <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 9L9 1M9 1H1M9 1V9" stroke="#00aef1" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </span>
          </a>
        </li>

        <li class="catalog-list__item swiper-slide">
          <a class="catalog-list__link catalog-list__link--gray" href="#">
            <h3 class="catalog-list__title catalog-list__title">Весь каталог</h3>
            <img class="catalog-list__img catalog-list__img" src="img/catalog-list/8.jpg" alt="Картинка техники">

            <span class="catalog-list__decor">
              <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 9L9 1M9 1H1M9 1V9" stroke="#00aef1" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </span>
          </a>
        </li>
      </ul>

      <div class="catalog__slider swiper">
        <ul class="catalog__slider-list catalog-list swiper-wrapper">

          <li class="catalog__slider-item swiper-slide">
            <a class="catalog__slider-link" href="#">
              <h3 class="catalog__slider-title">Обслуживание пассажиров</h3>
              <img class="catalog__slider-img" src="img/catalog-list/1.png" alt="Картинка техники">
            </a>
          </li>

          <li class="catalog__slider-item swiper-slide">
            <a class="catalog__slider-link" href="#">
              <h3 class="catalog__slider-title">Обслуживание воздушных судов</h3>
              <img class="catalog__slider-img" src="img/catalog-list/2.png" alt="Картинка техники">
            </a>
          </li>

          <li class="catalog__slider-item swiper-slide">
            <a class="catalog__slider-link" href="#">
              <h3 class="catalog__slider-title">Обработка грузов и багажа</h3>
              <img class="catalog__slider-img" src="img/catalog-list/3.png" alt="Картинка техники">
            </a>
          </li>

          <li class="catalog__slider-item swiper-slide">
            <a class="catalog__slider-link" href="#">
              <h3 class="catalog__slider-title">Содержание и уборка аэродрома</h3>
              <img class="catalog__slider-img" src="img/catalog-list/4.png" alt="Картинка техники">
            </a>
          </li>

          <li class="catalog__slider-item swiper-slide">
            <a class="catalog__slider-link" href="#">
              <h3 class="catalog__slider-title">Оборудование для спасоп</h3>
              <img class="catalog__slider-img" src="img/catalog-list/5.png" alt="Картинка техники">
            </a>
          </li>

          <li class="catalog__slider-item swiper-slide">
            <a class="catalog__slider-link" href="#">
              <h3 class="catalog__slider-title">Внутритерминальное оборудование</h3>
              <img class="catalog__slider-img" src="img/catalog-list/6.png" alt="Картинка техники">
            </a>
          </li>

          <li class="catalog__slider-item swiper-slide">
            <a class="catalog__slider-link" href="#">
              <h3 class="catalog__slider-title">Вспомогательное оборудование</h3>
              <img class="catalog__slider-img" src="img/catalog-list/7.png" alt="Картинка техники">
            </a>
          </li>
        </ul>

        <div class="catalog__list-progressbar slider-pagination"></div>
      </div>

      <a class="catalog__slider-button-primary button-primary" href="#">
        <span class="button-primary__text">Весь каталог</span>
        <i class="button-primary__icon">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
          </svg>
        </i>
      </a>
    </div>
  </div>
</section>