<section class="partners">
  <div class="partners__wrapper partners__wrapper--bottom-line">
    <div class="container">
      <div class="partners__head">
        <h2 class="partners__title title-block">Наши клиенты</h2>

        <a class="partners__button-primary button-primary" href="#">
          <span class="button-primary__text">Подробнее</span>
          <i class="button-primary__icon">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
            </svg>
          </i>
        </a>
      </div>
    </div>

    <div class="partners__wrapper carousel">
      <ul class="partners__list carousel__items">
        <li class="partners__item">
          <img class="partners__img" src="img/clients/s7.png" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/sheremet.png" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/aeroflot.png" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/vnukovo.png" alt="Логотип партнера">
        </li>

        <li class="partners__item partners__item--mobile">
          <img class="partners__img" src="img/clients/domodedovo.png" alt="Логотип партнера">
        </li>

        <li class="partners__item partners__item--mobile">
          <img class="partners__img" src="img/clients/russia.png" alt="Логотип партнера">
        </li>
      </ul>

      <ul aria-hidden class="partners__list carousel__items">
        <li class="partners__item">
          <img class="partners__img" src="img/clients/s7.png" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/sheremet.png" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/aeroflot.png" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/clients/vnukovo.png" alt="Логотип партнера">
        </li>

        <li class="partners__item partners__item--mobile">
          <img class="partners__img" src="img/clients/domodedovo.png" alt="Логотип партнера">
        </li>

        <li class="partners__item partners__item--mobile">
          <img class="partners__img" src="img/clients/russia.png" alt="Логотип партнера">
        </li>
      </ul>
    </div>

    <div class="container">
      <a class="partners__button-primary partners__button-primary--mobile button-primary" href="#">
        <span class="button-primary__text">Подробнее</span>
        <i class="button-primary__icon">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
          </svg>
        </i>
      </a>
    </div>
  </div>
</section>
