<div class="container container--large">
  <div class="container-decor">
    <section class="group">
      <div class="container">
        <h2 class="group__title title-block">Группа компаний CAVAG</h2>

        <div class="group__content">
          <ul class="group__accordeon accordeon">
            <li class="accordeon__item">
              <button class="accordeon__btn">
                <span class="accordeon__name">Аэродромная техника</span>
              </button>

              <div class="accordeon__content">
                <p class="group__text">CAVAG — крупнейшая в России и СНГ компания по поставкам специальной аэропортовой
                  и аэродромной техники, присутствующая во всех сегментах рынка аэропортовых услуг России и стран СНГ.
                </p>

                <a class="group__btn button-primary button-primary--transparent" href="#">
                  <i class="button-primary__icon">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                    </svg>
                  </i>

                  <span class="button-primary__text">Подробнее</span>
                </a>
              </div>
            </li>

            <li class="accordeon__item">
              <button class="accordeon__btn">
                <span class="accordeon__name">Коммунальная техника</span>
              </button>

              <div class="accordeon__content">
                <p class="group__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus illo enim
                  perferendis sequi corrupti asperiores commodi voluptates explicabo architecto aperiam.
                </p>

                <a class="group__btn button-primary button-primary--transparent" href="#">
                  <i class="button-primary__icon">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                    </svg>
                  </i>

                  <span class="button-primary__text">Подробнее</span>
                </a>
              </div>
            </li>

            <li class="accordeon__item">
              <button class="accordeon__btn">
                <span class="accordeon__name">Дорожно-строительная техника</span>
              </button>

              <div class="accordeon__content">
                <p class="group__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, dolorem.
                </p>

                <a class="group__btn button-primary button-primary--transparent" href="#">
                  <i class="button-primary__icon">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                    </svg>
                  </i>

                  <span class="button-primary__text">Подробнее</span>
                </a>
              </div>
            </li>

            <li class="accordeon__item">
              <button class="accordeon__btn">
                <span class="accordeon__name">Подъемное оборудование</span>
              </button>

              <div class="accordeon__content">
                <p class="group__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, blanditiis?
                  Beatae dolorem accusantium possimus. Veritatis.
                </p>

                <a class="group__btn button-primary button-primary--transparent" href="#">
                  <i class="button-primary__icon">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                    </svg>
                  </i>

                  <span class="button-primary__text">Подробнее</span>
                </a>
              </div>
            </li>

            <li class="accordeon__item">
              <button class="accordeon__btn">
                <span class="accordeon__name">Воздушные суда</span>
              </button>

              <div class="accordeon__content">
                <p class="group__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, nisi.
                </p>

                <a class="group__btn button-primary button-primary--transparent" href="#">
                  <i class="button-primary__icon">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                    </svg>
                  </i>

                  <span class="button-primary__text">Подробнее</span>
                </a>
              </div>
            </li>

            <li class="accordeon__item">
              <button class="accordeon__btn">
                <span class="accordeon__name">Спецтехника для ЖД</span>
              </button>

              <div class="accordeon__content">
                <p class="group__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, temporibus
                  nesciunt praesentium provident alias quos illum.
                </p>

                <a class="group__btn button-primary button-primary--transparent" href="#">
                  <i class="button-primary__icon">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                    </svg>
                  </i>

                  <span class="button-primary__text">Подробнее</span>
                </a>
              </div>
            </li>

            <li class="accordeon__item">
              <button class="accordeon__btn">
                <span class="accordeon__name">Сервисная компания</span>
              </button>

              <div class="accordeon__content">
                <p class="group__text">Lorem ipsum dolor sit amet consectetur adipisicing.
                </p>

                <a class="group__btn button-primary button-primary--transparent" href="#">
                  <i class="button-primary__icon">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                    </svg>
                  </i>

                  <span class="button-primary__text">Подробнее</span>
                </a>
              </div>
            </li>
          </ul>

          <img class="group__image" src="img/group/group.jpg" alt="Картинка">
        </div>
      </div>
    </section>
  </div>
</div>
