<div class="container container--large">
  <div class="container-decor">
    <section class="group">
      <div class="container">
        <h2 class="group__title title-block">Группа компаний CAVAG</h2>

        <div class="group__content">
          <div class="group__swiper-thumbs swiper">
            <ul class="group__accordeon swiper-wrapper">
              <li class="group__accordeon-item swiper-slide">
                <div class="group__accordeon-wrap">
                  <span class="group__accordeon-name">Аэродромная техника</span>

                  <div class="group__accordeon-progressbar slider-pagination">
                    <div class="slider-pagination__body">
                      <div class="slider-pagination__progress-helper"></div>
                    </div>
                  </div>
                </div>

                <div class="group__accordeon-content">
                  <p class="group__accordeon-text">CAVAG — крупнейшая в России и СНГ компания по поставкам специальной
                    аэропортовой
                    и аэродромной техники, присутствующая во всех сегментах рынка аэропортовых услуг России и стран СНГ.
                  </p>

                  <a class="group__btn button-primary button-primary--transparent" href="#">
                    <i class="button-primary__icon">
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                      </svg>
                    </i>

                    <span class="button-primary__text">Подробнее</span>
                  </a>
                </div>
              </li>

              <li class="group__accordeon-item swiper-slide">
                <div class="group__accordeon-wrap">
                  <span class="group__accordeon-name">Коммунальная техника</span>

                  <div class="group__accordeon-progressbar slider-pagination">
                    <div class="slider-pagination__body">
                      <div class="slider-pagination__progress-helper"></div>
                    </div>
                  </div>
                </div>

                <div class="group__accordeon-content">
                  <p class="group__accordeon-text">CAVAG — крупнейшая в России и СНГ компания по поставкам специальной
                    аэропортовой
                    и аэродромной техники, присутствующая во всех сегментах рынка аэропортовых услуг России и стран СНГ.
                  </p>

                  <a class="group__btn button-primary button-primary--transparent" href="#">
                    <i class="button-primary__icon">
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                      </svg>
                    </i>

                    <span class="button-primary__text">Подробнее</span>
                  </a>
                </div>
              </li>

              <li class="group__accordeon-item swiper-slide">
                <div class="group__accordeon-wrap">
                  <span class="group__accordeon-name">Дорожно-строительная техника</span>

                  <div class="group__accordeon-progressbar slider-pagination">
                    <div class="slider-pagination__body">
                      <div class="slider-pagination__progress-helper"></div>
                    </div>
                  </div>
                </div>

                <div class="group__accordeon-content">
                  <p class="group__accordeon-text">CAVAG — крупнейшая в России и СНГ компания по поставкам специальной
                    аэропортовой
                    и аэродромной техники, присутствующая во всех сегментах рынка аэропортовых услуг России и стран СНГ.
                  </p>

                  <a class="group__btn button-primary button-primary--transparent" href="#">
                    <i class="button-primary__icon">
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                      </svg>
                    </i>

                    <span class="button-primary__text">Подробнее</span>
                  </a>
                </div>
              </li>

              <li class="group__accordeon-item swiper-slide">
                <div class="group__accordeon-wrap">
                  <span class="group__accordeon-name">Подъемное оборудование</span>

                  <div class="group__accordeon-progressbar slider-pagination">
                    <div class="slider-pagination__body">
                      <div class="slider-pagination__progress-helper"></div>
                    </div>
                  </div>
                </div>

                <div class="group__accordeon-content">
                  <p class="group__accordeon-text">CAVAG — крупнейшая в России и СНГ компания по поставкам специальной
                    аэропортовой
                    и аэродромной техники, присутствующая во всех сегментах рынка аэропортовых услуг России и стран СНГ.
                  </p>

                  <a class="group__btn button-primary button-primary--transparent" href="#">
                    <i class="button-primary__icon">
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                      </svg>
                    </i>

                    <span class="button-primary__text">Подробнее</span>
                  </a>
                </div>
              </li>

              <li class="group__accordeon-item swiper-slide">
                <div class="group__accordeon-wrap">
                  <span class="group__accordeon-name">Воздушные суда</span>

                  <div class="group__accordeon-progressbar slider-pagination">
                    <div class="slider-pagination__body">
                      <div class="slider-pagination__progress-helper"></div>
                    </div>
                  </div>
                </div>

                <div class="group__accordeon-content">
                  <p class="group__accordeon-text">CAVAG — крупнейшая в России и СНГ компания по поставкам специальной
                    аэропортовой
                    и аэродромной техники, присутствующая во всех сегментах рынка аэропортовых услуг России и стран СНГ.
                  </p>

                  <a class="group__btn button-primary button-primary--transparent" href="#">
                    <i class="button-primary__icon">
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                      </svg>
                    </i>

                    <span class="button-primary__text">Подробнее</span>
                  </a>
                </div>
              </li>

              <li class="group__accordeon-item swiper-slide">
                <div class="group__accordeon-wrap">
                  <span class="group__accordeon-name">Спецтехника для ЖД</span>

                  <div class="group__accordeon-progressbar slider-pagination">
                    <div class="slider-pagination__body">
                      <div class="slider-pagination__progress-helper"></div>
                    </div>
                  </div>
                </div>

                <div class="group__accordeon-content">
                  <p class="group__accordeon-text">CAVAG — крупнейшая в России и СНГ компания по поставкам специальной
                    аэропортовой
                    и аэродромной техники, присутствующая во всех сегментах рынка аэропортовых услуг России и стран СНГ.
                  </p>

                  <a class="group__btn button-primary button-primary--transparent" href="#">
                    <i class="button-primary__icon">
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                      </svg>
                    </i>

                    <span class="button-primary__text">Подробнее</span>
                  </a>
                </div>
              </li>

              <li class="group__accordeon-item swiper-slide">
                <div class="group__accordeon-wrap">
                  <span class="group__accordeon-name">Сервисная компания</span>

                  <div class="group__accordeon-progressbar slider-pagination">
                    <div class="slider-pagination__body">
                      <div class="slider-pagination__progress-helper"></div>
                    </div>
                  </div>
                </div>

                <div class="group__accordeon-content">
                  <p class="group__accordeon-text">CAVAG — крупнейшая в России и СНГ компания по поставкам специальной
                    аэропортовой
                    и аэродромной техники, присутствующая во всех сегментах рынка аэропортовых услуг России и стран СНГ.
                  </p>

                  <a class="group__btn button-primary button-primary--transparent" href="#">
                    <i class="button-primary__icon">
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                      </svg>
                    </i>

                    <span class="button-primary__text">Подробнее</span>
                  </a>
                </div>
              </li>
            </ul>
          </div>

          <div class="group__image-swiper swiper">
            <ul class="swiper-wrapper">
              <li class="swiper-slide">
                <img class="group__image" src="img/group/group.jpg" alt="Картинка">
              </li>

              <li class="swiper-slide">
                <img class="group__image" src="img/group/group.jpg" alt="Картинка">
              </li>

              <li class="swiper-slide">
                <img class="group__image" src="img/group/group.jpg" alt="Картинка">
              </li>

              <li class="swiper-slide">
                <img class="group__image" src="img/group/group.jpg" alt="Картинка">
              </li>

              <li class="swiper-slide">
                <img class="group__image" src="img/group/group.jpg" alt="Картинка">
              </li>

              <li class="swiper-slide">
                <img class="group__image" src="img/group/group.jpg" alt="Картинка">
              </li>

              <li class="swiper-slide">
                <img class="group__image" src="img/group/group.jpg" alt="Картинка">
              </li>
            </ul>
          </div>

        </div>
      </div>
    </section>
  </div>
</div>
