<div class="container container--large">
  <div class="container-decor">
    <section class="group">
      <div class="container">
        <h2 class="group__title title-block">Группа компаний CAVAG</h2>

        <div class="group__content">
          <div class="group__swiper-thumbs swiper">
            <ul class="group__accordeon swiper-wrapper">
              <li class="group__accordeon-item swiper-slide">
                <div class="group__accordeon-wrap">
                  <span class="group__accordeon-name">Аэродромная техника</span>

                  <div class="group__accordeon-progressbar slider-pagination">
                    <div class="slider-pagination__body">
                      <div class="slider-pagination__progress-helper"></div>
                    </div>
                  </div>
                </div>

                <div class="group__accordeon-content">
                  <p class="group__accordeon-text">CAVAG — крупнейшая в России и СНГ компания по поставкам специальной
                    аэропортовой, аэродромной и наземной спецтехники, присутствующая во всех сегментах рынка
                    аэропортовых услуг. Наша техника уже более 23 лет обеспечивает бесперебойную работу крупнейших
                    аэропортов России и СНГ.
                  </p>

                  <a class="group__btn button-primary button-primary--transparent" href="#">
                    <i class="button-primary__icon">
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                      </svg>
                    </i>

                    <span class="button-primary__text">Подробнее</span>
                  </a>
                </div>
              </li>

              <li class="group__accordeon-item swiper-slide">
                <div class="group__accordeon-wrap">
                  <span class="group__accordeon-name">Коммунальная техника</span>

                  <div class="group__accordeon-progressbar slider-pagination">
                    <div class="slider-pagination__body">
                      <div class="slider-pagination__progress-helper"></div>
                    </div>
                  </div>
                </div>

                <div class="group__accordeon-content">
                  <p class="group__accordeon-text">Компания CAVAG является эксклюзивным дистрибьютором INFORE ENVIRO,
                    крупнейшего в Китае производителя оборудования для сбора и транспортировки ТКО и другой специальной
                    техники в России и СНГ. Полный спектр услуг по гарантийному и послегарантийному обслуживанию,
                    ремонту и диагностике, собственный склад запасных частей.
                  </p>

                  <a class="group__btn button-primary button-primary--transparent" href="#">
                    <i class="button-primary__icon">
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                      </svg>
                    </i>

                    <span class="button-primary__text">Подробнее</span>
                  </a>
                </div>
              </li>

              <li class="group__accordeon-item swiper-slide">
                <div class="group__accordeon-wrap">
                  <span class="group__accordeon-name">Дорожно-строительная техника</span>

                  <div class="group__accordeon-progressbar slider-pagination">
                    <div class="slider-pagination__body">
                      <div class="slider-pagination__progress-helper"></div>
                    </div>
                  </div>
                </div>

                <div class="group__accordeon-content">
                  <p class="group__accordeon-text">Компания CAVAG - официальный дистрибьютор крупнейших производителей
                    дорожно-строительной техники из Китая Sinomach и Sadin в России и осуществляет поставки спецтехники
                    и запчастей этих всемирно известных торговых марок с полным комплектом документации в любые города
                    России и СНГ.
                  </p>

                  <a class="group__btn button-primary button-primary--transparent" href="#">
                    <i class="button-primary__icon">
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                      </svg>
                    </i>

                    <span class="button-primary__text">Подробнее</span>
                  </a>
                </div>
              </li>

              <li class="group__accordeon-item swiper-slide">
                <div class="group__accordeon-wrap">
                  <span class="group__accordeon-name">Подъемное оборудование</span>

                  <div class="group__accordeon-progressbar slider-pagination">
                    <div class="slider-pagination__body">
                      <div class="slider-pagination__progress-helper"></div>
                    </div>
                  </div>
                </div>

                <div class="group__accordeon-content">
                  <p class="group__accordeon-text">ООО «ТЕХНОТРЕЙД» — официальный дистрибьютор самоходной подъемной
                    техники DINGLI, крупнейшего производителя интеллектуальных подъемных платформ в Китае и
                    предоставляет весь комплекс услуг по продаже, ремонту, техническому обслуживанию, а также продаже
                    запасных частей в России и СНГ.
                  </p>

                  <a class="group__btn button-primary button-primary--transparent" href="#">
                    <i class="button-primary__icon">
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                      </svg>
                    </i>

                    <span class="button-primary__text">Подробнее</span>
                  </a>
                </div>
              </li>

              <li class="group__accordeon-item swiper-slide">
                <div class="group__accordeon-wrap">
                  <span class="group__accordeon-name">Воздушные суда</span>

                  <div class="group__accordeon-progressbar slider-pagination">
                    <div class="slider-pagination__body">
                      <div class="slider-pagination__progress-helper"></div>
                    </div>
                  </div>
                </div>

                <div class="group__accordeon-content">
                  <p class="group__accordeon-text">CAVAG – является официальным партнером крупнейших производителей
                    современных бизнес джетов и предоставляет специальные условия на покупку и обслуживание малых
                    воздушных судов для гражданской авиации.
                  </p>

                  <a class="group__btn button-primary button-primary--transparent" href="#">
                    <i class="button-primary__icon">
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                      </svg>
                    </i>

                    <span class="button-primary__text">Подробнее</span>
                  </a>
                </div>
              </li>

              <li class="group__accordeon-item swiper-slide">
                <div class="group__accordeon-wrap">
                  <span class="group__accordeon-name">Спецтехника для ЖД</span>

                  <div class="group__accordeon-progressbar slider-pagination">
                    <div class="slider-pagination__body">
                      <div class="slider-pagination__progress-helper"></div>
                    </div>
                  </div>
                </div>

                <div class="group__accordeon-content">
                  <p class="group__accordeon-text">Компания CAVAG осуществляет поставки современных машин и оборудования
                    для строительства, обслуживания и ремонта железных дорог.
                  </p>

                  <a class="group__btn button-primary button-primary--transparent" href="#">
                    <i class="button-primary__icon">
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                      </svg>
                    </i>

                    <span class="button-primary__text">Подробнее</span>
                  </a>
                </div>
              </li>

              <li class="group__accordeon-item swiper-slide">
                <div class="group__accordeon-wrap">
                  <span class="group__accordeon-name">Сервисная компания</span>

                  <div class="group__accordeon-progressbar slider-pagination">
                    <div class="slider-pagination__body">
                      <div class="slider-pagination__progress-helper"></div>
                    </div>
                  </div>
                </div>

                <div class="group__accordeon-content">
                  <p class="group__accordeon-text">Одним из приоритетов нашей компании является поддержа¬ние
                    поставляемой нами техники в рабочем состо¬янии. Для этого нами был создан специализированный
                    сервисный центр ООО «Аэропорт Сервис» который имеет более 20 квалифицированных инженеров, обученных
                    и сертифицированных для проведения ремонтных работ на поставляемом оборудовании во всех уголках СНГ.
                  </p>

                  <a class="group__btn button-primary button-primary--transparent" href="#">
                    <i class="button-primary__icon">
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                      </svg>
                    </i>

                    <span class="button-primary__text">Подробнее</span>
                  </a>
                </div>
              </li>
            </ul>
          </div>

          <div class="group__image-swiper swiper">
            <ul class="swiper-wrapper">
              <li class="swiper-slide">
                <img class="group__image" src="img/group/1.jpg" alt="Картинка">
              </li>

              <li class="swiper-slide">
                <img class="group__image" src="img/group/2.jpg" alt="Картинка">
              </li>

              <li class="swiper-slide">
                <img class="group__image" src="img/group/3.jpg" alt="Картинка">
              </li>

              <li class="swiper-slide">
                <img class="group__image" src="img/group/4.png" alt="Картинка">
              </li>

              <li class="swiper-slide">
                <img class="group__image" src="img/group/5.jpg" alt="Картинка">
              </li>

              <li class="swiper-slide">
                <img class="group__image" src="img/group/6.jpg" alt="Картинка">
              </li>

              <li class="swiper-slide">
                <img class="group__image" src="img/group/7.jpg" alt="Картинка">
              </li>
            </ul>
          </div>

        </div>
      </div>
    </section>
  </div>
</div>