<section class="hero">
  <div class="container container--large">
    <div class="container-decor container-decor--decor-none">
      <div class="hero__slider swiper">
        <ul class="hero__slider-wrapper swiper-wrapper">
          <li class="hero__slide swiper-slide">
            <div class="hero__content">
              <h1 class="hero__title">Техника для обслуживания воздушных судов</h1>
              <img class="hero__img hero__img--mobile" src="img/hero/hero-bg.png" alt="Фото машины" decoding="async" />
              <p class="hero__text">
                ООО «Технотрейд» — крупнейший поставщик техники для аэропортов и аэродромов, наземной спецтехники в
                России
                и
                СНГ
              </p>
              <button class="hero__button-primary button-primary">
                <span class="button-primary__text">Подробнее</span>
                <i class="button-primary__icon">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                  </svg>
                </i>
              </button>
            </div>

            <img class="hero__img" src="img/hero/hero-bg.png" alt="Фото машины" decoding="async" />
          </li>

          <li class="hero__slide swiper-slide">
            <div class="hero__content">
              <h1 class="hero__title">Техника для обслуживания</h1>
              <img class="hero__img hero__img--mobile" src="img/hero/hero-bg.png" alt="Фото машины" decoding="async" />
              <p class="hero__text">
                ООО «Технотрейд» — крупнейший поставщик техники для аэропортов и аэродромов, наземной спецтехники в
                России
                и
                СНГ
              </p>
              <button class="hero__button-primary button-primary">
                <span class="button-primary__text">Подробнее</span>
                <i class="button-primary__icon">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                  </svg>
                </i>
              </button>
            </div>

            <img class="hero__img" src="img/hero/hero-bg.png" alt="Фото машины" decoding="async" />
          </li>

          <li class="hero__slide swiper-slide">
            <div class="hero__content">
              <h1 class="hero__title">Техника для обслуживания судов</h1>
              <img class="hero__img hero__img--mobile" src="img/hero/hero-bg.png" alt="Фото машины" decoding="async" />
              <p class="hero__text">
                ООО «Технотрейд» — крупнейший поставщик техники для аэропортов и аэродромов, наземной спецтехники в
                России
                и
                СНГ
              </p>
              <button class="hero__button-primary button-primary">
                <span class="button-primary__text">Подробнее</span>
                <i class="button-primary__icon">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                  </svg>
                </i>
              </button>
            </div>

            <img class="hero__img" src="img/hero/hero-bg.png" alt="Фото машины" decoding="async" />
          </li>
        </ul>

        <button class="hero__slider-controls-prev slider-control slider-control--prev" aria-label="Назад">
          <svg width="9" height="18" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 19L10 10L1 1" stroke="#00aef1" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </button>

        <button class="hero__slider-controls-next slider-control slider-control--next" aria-label="Назад">
          <svg width="9" height="18" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 19L10 10L1 1" stroke="#00aef1" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </button>

        <div class="hero__pagination slider-pagination"></div>
      </div>
    </div>
  </div>
</section>