<section class="in-stock">
  <div class="container">

    <div class="in-stock__head">
      <h2 class="in-stock__title title-block">Техника в наличии</h2>

      <a class="in-stock__button-primary button-primary" href="#">
        <span class="button-primary__text">Весь каталог</span>
        <i class="button-primary__icon">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
          </svg>
        </i>
      </a>
    </div>

    <div class="in-stock__slider-wrapper">
      <div class="in-stock__slider swiper">
        <ul class="in-stock__list swiper-wrapper">
          <li class="in-stock__item swiper-slide">
            <article class="technic-card">
              <a class="technic-card__link" href="#">
                <div class="technic-card__badge">
                  <div class="technic-card__badge-info technic-card__badge-info--green">В&nbsp;наличии</div>
                </div>

                <img class="technic-card__img" src="img/technic/technic-card-img.png" alt="Картинка">

                <h3 class="technic-card__title">Коленчатый подъемник Dingli BA11NE</h3>

                <ul class="technic-card__list">
                  <li class="technic-card__item">
                    <span class="technic-card__item-left">Собственный вес</span>
                    <span class="technic-card__item-right">9000 кг</span>
                  </li>
                  <li class="technic-card__item">
                    <span class="technic-card__item-left">Максимальный вес</span>
                    <span class="technic-card__item-right">11/13/15 т</span>
                  </li>
                  <li class="technic-card__item">
                    <span class="technic-card__item-left">Габариты</span>
                    <span class="technic-card__item-right">5435 х 2240 х 2000 мм</span>
                  </li>
                  <li class="technic-card__item">
                    <span class="technic-card__item-left">Радиус разворота</span>
                    <span class="technic-card__item-right">4900мм</span>
                  </li>
                </ul>
              </a>

              <div class="technic-card__bot">

                <button class="technic-card__button-primary button-primary" data-graph-path="request-kp">
                  <span class="button-primary__text">Получить КП</span>
                  <i class="button-primary__icon">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                    </svg>
                  </i>
                </button>

                <a class="technic-card__more" href="#">
                  <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                  </svg>
                </a>
              </div>
            </article>
          </li>

          <li class="in-stock__item swiper-slide">
            <article class="technic-card">
              <a class="technic-card__link" href="#">
                <div class="technic-card__badge">
                  <div class="technic-card__badge-info technic-card__badge-info--green">В&nbsp;наличии</div>
                </div>

                <img class="technic-card__img" src="img/technic/technic-card-img.png" alt="Картинка">

                <h3 class="technic-card__title">Коленчатый подъемник Dingli BA11NE</h3>

                <ul class="technic-card__list">
                  <li class="technic-card__item">
                    <span class="technic-card__item-left">Собственный вес</span>
                    <span class="technic-card__item-right">9000 кг</span>
                  </li>
                  <li class="technic-card__item">
                    <span class="technic-card__item-left">Максимальный вес</span>
                    <span class="technic-card__item-right">11/13/15 т</span>
                  </li>
                  <li class="technic-card__item">
                    <span class="technic-card__item-left">Габариты</span>
                    <span class="technic-card__item-right">5435 х 2240 х 2000 мм</span>
                  </li>
                  <li class="technic-card__item">
                    <span class="technic-card__item-left">Радиус разворота</span>
                    <span class="technic-card__item-right">4900мм</span>
                  </li>
                </ul>
              </a>

              <div class="technic-card__bot">

                <button class="technic-card__button-primary button-primary" data-graph-path="request-kp">
                  <span class="button-primary__text">Получить КП</span>
                  <i class="button-primary__icon">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                    </svg>
                  </i>
                </button>

                <a class="technic-card__more" href="#">
                  <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                  </svg>
                </a>
              </div>
            </article>
          </li>

          <li class="in-stock__item swiper-slide">
            <article class="technic-card">
              <a class="technic-card__link" href="#">
                <div class="technic-card__badge">
                  <div class="technic-card__badge-info technic-card__badge-info--green">В&nbsp;наличии</div>
                </div>

                <img class="technic-card__img" src="img/technic/technic-card-img.png" alt="Картинка">

                <h3 class="technic-card__title">Коленчатый подъемник Dingli BA11NE</h3>

                <ul class="technic-card__list">
                  <li class="technic-card__item">
                    <span class="technic-card__item-left">Собственный вес</span>
                    <span class="technic-card__item-right">9000 кг</span>
                  </li>
                  <li class="technic-card__item">
                    <span class="technic-card__item-left">Максимальный вес</span>
                    <span class="technic-card__item-right">11/13/15 т</span>
                  </li>
                  <li class="technic-card__item">
                    <span class="technic-card__item-left">Габариты</span>
                    <span class="technic-card__item-right">5435 х 2240 х 2000 мм</span>
                  </li>
                  <li class="technic-card__item">
                    <span class="technic-card__item-left">Радиус разворота</span>
                    <span class="technic-card__item-right">4900мм</span>
                  </li>
                </ul>
              </a>

              <div class="technic-card__bot">

                <button class="technic-card__button-primary button-primary" data-graph-path="request-kp">
                  <span class="button-primary__text">Получить КП</span>
                  <i class="button-primary__icon">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                    </svg>
                  </i>
                </button>

                <a class="technic-card__more" href="#">
                  <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                  </svg>
                </a>
              </div>
            </article>
          </li>

          <li class="in-stock__item swiper-slide">
            <article class="technic-card">
              <a class="technic-card__link" href="#">
                <div class="technic-card__badge">
                  <div class="technic-card__badge-info technic-card__badge-info--green">В&nbsp;наличии</div>
                </div>

                <img class="technic-card__img" src="img/technic/technic-card-img.png" alt="Картинка">

                <h3 class="technic-card__title">Коленчатый подъемник Dingli BA11NE</h3>

                <ul class="technic-card__list">
                  <li class="technic-card__item">
                    <span class="technic-card__item-left">Собственный вес</span>
                    <span class="technic-card__item-right">9000 кг</span>
                  </li>
                  <li class="technic-card__item">
                    <span class="technic-card__item-left">Максимальный вес</span>
                    <span class="technic-card__item-right">11/13/15 т</span>
                  </li>
                  <li class="technic-card__item">
                    <span class="technic-card__item-left">Габариты</span>
                    <span class="technic-card__item-right">5435 х 2240 х 2000 мм</span>
                  </li>
                  <li class="technic-card__item">
                    <span class="technic-card__item-left">Радиус разворота</span>
                    <span class="technic-card__item-right">4900мм</span>
                  </li>
                </ul>
              </a>

              <div class="technic-card__bot">

                <button class="technic-card__button-primary button-primary" data-graph-path="request-kp">
                  <span class="button-primary__text">Получить КП</span>
                  <i class="button-primary__icon">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                    </svg>
                  </i>
                </button>

                <a class="technic-card__more" href="#">
                  <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                  </svg>
                </a>
              </div>
            </article>
          </li>

          <li class="in-stock__item swiper-slide">
            <article class="technic-card">
              <a class="technic-card__link" href="#">
                <div class="technic-card__badge">
                  <div class="technic-card__badge-info technic-card__badge-info--green">В&nbsp;наличии</div>
                </div>

                <img class="technic-card__img" src="img/technic/technic-card-img.png" alt="Картинка">

                <h3 class="technic-card__title">Коленчатый подъемник Dingli BA11NE</h3>

                <ul class="technic-card__list">
                  <li class="technic-card__item">
                    <span class="technic-card__item-left">Собственный вес</span>
                    <span class="technic-card__item-right">9000 кг</span>
                  </li>
                  <li class="technic-card__item">
                    <span class="technic-card__item-left">Максимальный вес</span>
                    <span class="technic-card__item-right">11/13/15 т</span>
                  </li>
                  <li class="technic-card__item">
                    <span class="technic-card__item-left">Габариты</span>
                    <span class="technic-card__item-right">5435 х 2240 х 2000 мм</span>
                  </li>
                  <li class="technic-card__item">
                    <span class="technic-card__item-left">Радиус разворота</span>
                    <span class="technic-card__item-right">4900мм</span>
                  </li>
                </ul>
              </a>

              <div class="technic-card__bot">

                <button class="technic-card__button-primary button-primary" data-graph-path="request-kp">
                  <span class="button-primary__text">Получить КП</span>
                  <i class="button-primary__icon">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                    </svg>
                  </i>
                </button>

                <a class="technic-card__more" href="#">
                  <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                  </svg>
                </a>
              </div>
            </article>
          </li>

          <li class="in-stock__item swiper-slide">
            <article class="technic-card">
              <a class="technic-card__link" href="#">
                <div class="technic-card__badge">
                  <div class="technic-card__badge-info technic-card__badge-info--green">В&nbsp;наличии</div>
                </div>

                <img class="technic-card__img" src="img/technic/technic-card-img.png" alt="Картинка">

                <h3 class="technic-card__title">Коленчатый подъемник Dingli BA11NE</h3>

                <ul class="technic-card__list">
                  <li class="technic-card__item">
                    <span class="technic-card__item-left">Собственный вес</span>
                    <span class="technic-card__item-right">9000 кг</span>
                  </li>
                  <li class="technic-card__item">
                    <span class="technic-card__item-left">Максимальный вес</span>
                    <span class="technic-card__item-right">11/13/15 т</span>
                  </li>
                  <li class="technic-card__item">
                    <span class="technic-card__item-left">Габариты</span>
                    <span class="technic-card__item-right">5435 х 2240 х 2000 мм</span>
                  </li>
                  <li class="technic-card__item">
                    <span class="technic-card__item-left">Радиус разворота</span>
                    <span class="technic-card__item-right">4900мм</span>
                  </li>
                </ul>
              </a>

              <div class="technic-card__bot">

                <button class="technic-card__button-primary button-primary" data-graph-path="request-kp">
                  <span class="button-primary__text">Получить КП</span>
                  <i class="button-primary__icon">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                    </svg>
                  </i>
                </button>

                <a class="technic-card__more" href="#">
                  <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                  </svg>
                </a>
              </div>
            </article>
          </li>
        </ul>
      </div>

      <div class="in-stock__slider-controls">
        <button class="in-stock__slider-controls-prev slider-control slider-control--light-blue slider-control--prev"
          aria-label="Назад">
          <svg width="9" height="18" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 19L10 10L1 1" stroke="#00aef1" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </button>

        <div class="in-stock__progressbar slider-pagination"></div>

        <button class="in-stock__slider-controls-next slider-control slider-control--light-blue slider-control--next"
          aria-label="Назад">
          <svg width="9" height="18" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 19L10 10L1 1" stroke="#00aef1" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </button>
      </div>

      <a class="in-stock__button-primary in-stock__button-primary--mobile button-primary" href="#">
        <span class="button-primary__text">Весь каталог</span>
        <i class="button-primary__icon">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
          </svg>
        </i>
      </a>
    </div>

  </div>
</section>
