<div class="mobile-menu">
  <div class="container">
    <div class="mobile-menu__wrapper">
      <div class="mobile-menu__inner">
        <ul class="mobile-menu__list">

          <li class="mobile-menu__item dropdown">
            <span class="mobile-menu__text" data-toggle="dropdown">Техника</span>
            <ul class="mobile-menu__dropdown-menu">
              <li class="mobile-menu__dropdown-item">
                <a class="mobile-menu__dropdown-link" href="#">
                  Обслуживание пассажиров
                </a>
              </li>
              <li class="mobile-menu__dropdown-item">
                <a class="mobile-menu__dropdown-link" href="#">
                  Обслуживание воздушных судов
                </a>
              <li>
              <li class="mobile-menu__dropdown-item">
                <a class="mobile-menu__dropdown-link" href="#">
                  Обработка грузов и багажа
                </a>
              </li>
              <li class="mobile-menu__dropdown-item">
                <a class="mobile-menu__dropdown-link" href="#">
                  Содержание и уборка аэродрома
                </a>
              </li>
              <li class="mobile-menu__dropdown-item">
                <a class="mobile-menu__dropdown-link" href="#">
                  Оборудование для спасоп
                </a>
              </li>
              <li class="mobile-menu__dropdown-item">
                <a class="mobile-menu__dropdown-link" href="#">
                  Внутритерминальное оборудование
                </a>
              </li>
              <li class="mobile-menu__dropdown-item">
                <a class="mobile-menu__dropdown-link" href="#">
                  Вспомогательное оборудование </a>
              </li>
            </ul>
          </li>

          <li class="mobile-menu__item dropdown">
            <span class="mobile-menu__text" data-toggle="dropdown">О компании</span>
            <ul class="mobile-menu__dropdown-menu mobile-menu__dropdown-menu--catalog">
              <li class="mobile-menu__dropdown-item">
                <a class="mobile-menu__dropdown-link" href="#">
                  1
                </a>
              </li>
              <li class="mobile-menu__dropdown-item">
                <a class="mobile-menu__dropdown-link" href="#">
                  2
                </a>
              </li>
              <li class="mobile-menu__dropdown-item">
                <a class="mobile-menu__dropdown-link" href="#">
                  3
                </a>
              </li>
            </ul>
          </li>

          <li class="mobile-menu__item dropdown">
            <span class="mobile-menu__text" data-toggle="dropdown">Услуги</span>
            <ul class="mobile-menu__dropdown-menu mobile-menu__dropdown-menu--catalog">
              <li class="mobile-menu__dropdown-item">
                <a class="mobile-menu__dropdown-link" href="#">
                  1
                </a>
              </li>
              <li class="mobile-menu__dropdown-item">
                <a class="mobile-menu__dropdown-link" href="#">
                  2
                </a>
              </li>
              <li class="mobile-menu__dropdown-item">
                <a class="mobile-menu__dropdown-link" href="#">
                  3
                </a>
              </li>
            </ul>
          </li>

          <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Новости</a></li>

          <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Клиенты</a></li>

          <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Партнеры</a></li>

          <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Контакты</a></li>
        </ul>

        <form class="mobile-menu__search" action="#">
          <input class="mobile-menu__input" type="text" placeholder="Поиск по сайту" required>
          <button class="mobile-menu__button">
            <svg class="mobile-menu__icon" width="18" height="18" viewBox="0 0 24 24" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <g opacity="0.6">
                <path
                  d="M21.0002 21L16.6572 16.657M16.6572 16.657C17.4001 15.9141 17.9894 15.0321 18.3914 14.0615C18.7935 13.0909 19.0004 12.0506 19.0004 11C19.0004 9.94936 18.7935 8.90905 18.3914 7.93842C17.9894 6.96779 17.4001 6.08585 16.6572 5.34296C15.9143 4.60007 15.0324 4.01078 14.0618 3.60874C13.0911 3.20669 12.0508 2.99976 11.0002 2.99976C9.9496 2.99976 8.90929 3.20669 7.93866 3.60874C6.96803 4.01078 6.08609 4.60007 5.34321 5.34296C3.84288 6.84329 3 8.87818 3 11C3 13.1217 3.84288 15.1566 5.34321 16.657C6.84354 18.1573 8.87842 19.0002 11.0002 19.0002C13.122 19.0002 15.1569 18.1573 16.6572 16.657Z"
                  stroke="#00aef1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </g>
            </svg>

          </button>
        </form>

        <div class="mobile-menu__content">


          <ul class="mobile-menu__socials socials">
            <li class="socials__item">
              <a class="socials__link " href="#">
                <img class="socials__img" src="img/socials/telegram-blue.svg" alt="Телеграм">
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link " href="#">
                <img class="socials__img" src="img/socials/youtube-blue.svg" alt="Ютуб">
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link " href="#">
                <img class="socials__img" src="img/socials/vk-blue.svg" alt="ВКонтакте">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>