<section class="news-article">
  <div class="news-article__head head-page">
    <div class="container">
      <div class="head-page__breadcrumbs breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="index.html">Главная</a></li>
          <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Новости</a></li>
          <li class="breadcrumbs__item breadcrumbs__item--active"><span>Выставка и Форум NAIS. Национальная выставка
              инфраструктуры гражданской авиации</span></li>
        </ul>
      </div>

      <h1 class="news-article__title head-page__title">Выставка и Форум NAIS. Национальная выставка инфраструктуры
        гражданской авиации</h1>

      <img class="news-article__promo-img" src="img/news-article/1.jpg" alt="Картинка">

      <div class="news-article__head-bot">
        <time class="news-article__date">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M15.8333 16.8335H4.16667V7.66683H15.8333M13.3333 1.8335V3.50016H6.66667V1.8335H5V3.50016H4.16667C3.24167 3.50016 2.5 4.24183 2.5 5.16683V16.8335C2.5 17.2755 2.67559 17.6994 2.98816 18.012C3.30072 18.3246 3.72464 18.5002 4.16667 18.5002H15.8333C16.2754 18.5002 16.6993 18.3246 17.0118 18.012C17.3244 17.6994 17.5 17.2755 17.5 16.8335V5.16683C17.5 4.7248 17.3244 4.30088 17.0118 3.98832C16.6993 3.67576 16.2754 3.50016 15.8333 3.50016H15V1.8335M14.1667 11.0002H10V15.1668H14.1667V11.0002Z"
              fill="#004B9A">
            </path>
          </svg>

          1 июля 2024
        </time>

        <div class="news-article__social">
          <span class="news-article__social-text">Поделиться:</span>

          <ul class="news-article__socials socials">
            <li class="socials__item"><a class="socials__link" href="#">
                <img class="socials__img" src="img/socials/telegram-light-blue.svg" alt="Телеграм">
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link" href="#">
                <img class="socials__img" src="img/socials/youtube-light-blue.svg" alt="Ютуб">
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link" href="#">
                <img class="socials__img" src="img/socials/vk-light-blue.svg" alt="ВКонтакте">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="news-article__content">
      <div class="text-block">
        <p class="text-block__text">ООО «Технотрейд» совместно с нашим партнером из Норвегии заводом ØVERAASEN AS принял
          участие в выставке и форуме
          NAIS - главном мероприятие в России и СНГ для профессионалов, задействованных в развитии и модернизации
          гражданской авиации: аэропортов, аэродромов, вертолетных центров, авиакомпаний и маршрутной сети.</p>
        <p class="text-block__text">Выставка и форум NAIS посвящены развитию инфраструктуры гражданской авиации:
          аэропортов, аэродромов, вертолетных
          площадок и авиакомпаний, большое внимание на выставке уделяется спецтехнике для наземного обслуживания
          воздушных
          судов и аэродромным машинам. Сам форум, выставка и мероприятие в целом приурочено к празднованию Дня работника
          гражданской авиации.</p>
        <p class="text-block__text">В официальной церемонии открытия, осмотре выставки и награждении лучших аэропортов и
          авиакомпаний приняли
          участие первые лица государственных структур. Особенно приятно, что в этом году представителям Международного
          аэропорта Волгоград вручили национальную премию «Воздушные ворота России» в номинации «Лучший аэропорт - 2018
          в
          категории до 2 миллионов пассажиров в год».</p>
        <p class="text-block__text">Компания ООО «Технотрейд» в период 2018 года реализовала поставки пассажирских
          трапов и багажных тягачей.
          Спецтехника была поставлено в срок, и успешно эксплуатировалась аэропортом на время проведения Чемпионата мира
          по футболу. Также аэропорт Волгоград успешно эксплуатирует противообледенительную машину TEMPEST, поставленную
          нашей компанией в 2013-м году</p>
      </div>

      <div class="news-article__slider">
        <div class="news-article__slider-wrapper">
          <div class="swiper swiper-news-article ">
            <ul class="swiper-wrapper">
              <li class="swiper-slide">
                <picture>
                  <source srcset="img/news-article/2.jpg" type="image/webp">
                  <img class="news-article__img" src="img/news-article/2.jpg" alt="Фото" decoding="async">
                </picture>
              </li>

              <li class="swiper-slide">
                <picture>
                  <source srcset="img/news-article/2.jpg" type="image/webp">
                  <img class="news-article__img" src="img/news-article/2.jpg" alt="Фото" decoding="async">
                </picture>
              </li>

              <li class="swiper-slide">
                <picture>
                  <source srcset="img/news-article/2.jpg" type="image/webp">
                  <img class="news-article__img" src="img/news-article/2.jpg" alt="Фото" decoding="async">
                </picture>
              </li>

              <li class="swiper-slide">
                <picture>
                  <source srcset="img/news-article/2.jpg" type="image/webp">
                  <img class="news-article__img" src="img/news-article/2.jpg" alt="Фото" decoding="async">
                </picture>
              </li>

              <li class="swiper-slide">
                <picture>
                  <source srcset="img/news-article/2.jpg" type="image/webp">
                  <img class="news-article__img" src="img/news-article/2.jpg" alt="Фото" decoding="async">
                </picture>
              </li>

              <li class="swiper-slide">
                <picture>
                  <source srcset="img/news-article/2.jpg" type="image/webp">
                  <img class="news-article__img" src="img/news-article/2.jpg" alt="Фото" decoding="async">
                </picture>
              </li>
            </ul>

            <div class="swiper-news-article__pagination slider-pagination"></div>
          </div>

        </div>

        <div class="news-article__slider-thumbs-wrap">
          <div class="swiper swiper-news-article-thumbs">
            <ul class="swiper-wrapper">
              <li class="swiper-slide">
                <picture>
                  <source srcset="img/news-article/2.jpg" type="image/webp">
                  <img class="news-article__img" src="img/news-article/2.jpg" alt="Фото" decoding="async">
                </picture>
              </li>

              <li class="swiper-slide">
                <picture>
                  <source srcset="img/news-article/2.jpg" type="image/webp">
                  <img class="news-article__img" src="img/news-article/2.jpg" alt="Фото" decoding="async">
                </picture>
              </li>

              <li class="swiper-slide">
                <picture>
                  <source srcset="img/news-article/2.jpg" type="image/webp">
                  <img class="news-article__img" src="img/news-article/2.jpg" alt="Фото" decoding="async">
                </picture>
              </li>

              <li class="swiper-slide">
                <picture>
                  <source srcset="img/news-article/2.jpg" type="image/webp">
                  <img class="news-article__img" src="img/news-article/2.jpg" alt="Фото" decoding="async">
                </picture>
              </li>

              <li class="swiper-slide">
                <picture>
                  <source srcset="img/news-article/2.jpg" type="image/webp">
                  <img class="news-article__img" src="img/news-article/2.jpg" alt="Фото" decoding="async">
                </picture>
              </li>

              <li class="swiper-slide">
                <picture>
                  <source srcset="img/news-article/2.jpg" type="image/webp">
                  <img class="news-article__img" src="img/news-article/2.jpg" alt="Фото" decoding="async">
                </picture>
              </li>
            </ul>
          </div>

          <button class="swiper-news-article-prev slider-control slider-control--prev" aria-label="Назад">
            <svg width="9" height="18" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 19L10 10L1 1" stroke="#00aef1" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </button>

          <button class="swiper-news-article-next slider-control slider-control--next" aria-label="Назад">
            <svg width="9" height="18" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 19L10 10L1 1" stroke="#00aef1" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </button>
        </div>
      </div>

      <div class="text-block">
        <p class="text-block__text">NAIS — отличный повод для ООО «Технотрейд» продемонстрировать широкий спектр техники
          для наземного обслуживания
          воздушных судов и машин для содержания взлетной полосы, и прилегающих территорий аэродромов.</p>
        <p class="text-block__text">Стенд ООО «Технотрейд» в эти два дня пользовался высокой популярностью. Было
          проведено множество встреч и
          переговоров как с нашими давними партнерами и коллегами, так и с новыми представителями аэропортов и
          авиакомпаний.</p>
        <p class="text-block__text">Выставка NAIS в очередной раз показала заинтересованность представителей аэропортов,
          авиабизнеса и власти в
          развитии и расширении авиационной отрасли России и СНГ в целом.</p>
      </div>
    </div>
  </div>

  <div class="container container--large">
    <div class="container-decor">
      <div class="container">
        <section class="news">
          <div class="container">
            <div class="news__head">
              <h2 class="news__title title-block">
                Читайте также
              </h2>

              <a class="news__button-primary button-primary" href="#">
                <span class="button-primary__text">Все новости</span>
                <i class="button-primary__icon">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                  </svg>
                </i>
              </a>
            </div>

            <div class="news__slider-wrapper swiper swiper-initialized swiper-horizontal swiper-backface-hidden">
              <ul class="news__list swiper-wrapper">
                <li class="news__item swiper-slide swiper-slide-active" style="width: 397.333px; margin-right: 24px;">
                  <a class="news__link news-card" href="#">
                    <img class="news-card__img" src="img/news/1.jpg" alt="Картинка">
                    <span class="news-card__date">
                      <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M13.8333 15.8335H2.16667V6.66683H13.8333M11.3333 0.833496V2.50016H4.66667V0.833496H3V2.50016H2.16667C1.24167 2.50016 0.5 3.24183 0.5 4.16683V15.8335C0.5 16.2755 0.675595 16.6994 0.988155 17.012C1.30072 17.3246 1.72464 17.5002 2.16667 17.5002H13.8333C14.2754 17.5002 14.6993 17.3246 15.0118 17.012C15.3244 16.6994 15.5 16.2755 15.5 15.8335V4.16683C15.5 3.7248 15.3244 3.30088 15.0118 2.98832C14.6993 2.67576 14.2754 2.50016 13.8333 2.50016H13V0.833496M12.1667 10.0002H8V14.1668H12.1667V10.0002Z"
                          fill="#898989"></path>
                      </svg>

                      1&nbsp;июля 2024
                    </span>
                    <h3 class="news-card__title">Выставка и&nbsp;Форум NAIS. Национальная выставка инфраструктуры
                      гражданской авиации
                    </h3>
                    <p class="news-card__text">ООО&nbsp;«Технотрейд» совместно с&nbsp;нашим партнером из&nbsp;Норвегии
                      заводом ØVERAASEN AS
                      принял участие в&nbsp;выставке и&nbsp;форуме NAIS.</p>

                    <button class="news-card__btn button-primary button-primary--transparent" href="#">
                      <i class="button-primary__icon">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                        </svg>
                      </i>

                      <span class="button-primary__text">Подробнее</span>
                    </button>
                  </a>
                </li>

                <li class="news__item swiper-slide swiper-slide-next" style="width: 397.333px; margin-right: 24px;">
                  <a class="news__link news-card" href="#">
                    <img class="news-card__img" src="img/news/1.jpg" alt="Картинка">
                    <span class="news-card__date">
                      <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M13.8333 15.8335H2.16667V6.66683H13.8333M11.3333 0.833496V2.50016H4.66667V0.833496H3V2.50016H2.16667C1.24167 2.50016 0.5 3.24183 0.5 4.16683V15.8335C0.5 16.2755 0.675595 16.6994 0.988155 17.012C1.30072 17.3246 1.72464 17.5002 2.16667 17.5002H13.8333C14.2754 17.5002 14.6993 17.3246 15.0118 17.012C15.3244 16.6994 15.5 16.2755 15.5 15.8335V4.16683C15.5 3.7248 15.3244 3.30088 15.0118 2.98832C14.6993 2.67576 14.2754 2.50016 13.8333 2.50016H13V0.833496M12.1667 10.0002H8V14.1668H12.1667V10.0002Z"
                          fill="#898989"></path>
                      </svg>

                      1&nbsp;июля 2024
                    </span>
                    <h3 class="news-card__title">Выставка и&nbsp;Форум NAIS. Национальная выставка инфраструктуры
                      гражданской авиации
                    </h3>
                    <p class="news-card__text">ООО&nbsp;«Технотрейд» совместно с&nbsp;нашим партнером из&nbsp;Норвегии
                      заводом ØVERAASEN AS
                      принял участие в&nbsp;выставке и&nbsp;форуме NAIS.</p>

                    <button class="news-card__btn button-primary button-primary--transparent" href="#">
                      <i class="button-primary__icon">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                        </svg>
                      </i>

                      <span class="button-primary__text">Подробнее</span>
                    </button>
                  </a>
                </li>

                <li class="news__item swiper-slide" style="width: 397.333px; margin-right: 24px;">
                  <a class="news__link news-card" href="#">
                    <img class="news-card__img" src="img/news/1.jpg" alt="Картинка">
                    <span class="news-card__date">
                      <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M13.8333 15.8335H2.16667V6.66683H13.8333M11.3333 0.833496V2.50016H4.66667V0.833496H3V2.50016H2.16667C1.24167 2.50016 0.5 3.24183 0.5 4.16683V15.8335C0.5 16.2755 0.675595 16.6994 0.988155 17.012C1.30072 17.3246 1.72464 17.5002 2.16667 17.5002H13.8333C14.2754 17.5002 14.6993 17.3246 15.0118 17.012C15.3244 16.6994 15.5 16.2755 15.5 15.8335V4.16683C15.5 3.7248 15.3244 3.30088 15.0118 2.98832C14.6993 2.67576 14.2754 2.50016 13.8333 2.50016H13V0.833496M12.1667 10.0002H8V14.1668H12.1667V10.0002Z"
                          fill="#898989"></path>
                      </svg>

                      1&nbsp;июля 2024
                    </span>
                    <h3 class="news-card__title">Выставка и&nbsp;Форум NAIS. Национальная выставка инфраструктуры
                      гражданской авиации
                    </h3>
                    <p class="news-card__text">ООО&nbsp;«Технотрейд» совместно с&nbsp;нашим партнером из&nbsp;Норвегии
                      заводом ØVERAASEN AS
                      принял участие в&nbsp;выставке и&nbsp;форуме NAIS.</p>

                    <button class="news-card__btn button-primary button-primary--transparent" href="#">
                      <i class="button-primary__icon">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                        </svg>
                      </i>

                      <span class="button-primary__text">Подробнее</span>
                    </button>
                  </a>
                </li>

                <li class="news__item swiper-slide" style="width: 397.333px; margin-right: 24px;">
                  <a class="news__link news-card" href="#">
                    <img class="news-card__img" src="img/news/1.jpg" alt="Картинка">
                    <span class="news-card__date">
                      <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M13.8333 15.8335H2.16667V6.66683H13.8333M11.3333 0.833496V2.50016H4.66667V0.833496H3V2.50016H2.16667C1.24167 2.50016 0.5 3.24183 0.5 4.16683V15.8335C0.5 16.2755 0.675595 16.6994 0.988155 17.012C1.30072 17.3246 1.72464 17.5002 2.16667 17.5002H13.8333C14.2754 17.5002 14.6993 17.3246 15.0118 17.012C15.3244 16.6994 15.5 16.2755 15.5 15.8335V4.16683C15.5 3.7248 15.3244 3.30088 15.0118 2.98832C14.6993 2.67576 14.2754 2.50016 13.8333 2.50016H13V0.833496M12.1667 10.0002H8V14.1668H12.1667V10.0002Z"
                          fill="#898989"></path>
                      </svg>

                      1&nbsp;июля 2024
                    </span>
                    <h3 class="news-card__title">Выставка и&nbsp;Форум NAIS. Национальная выставка инфраструктуры
                      гражданской авиации
                    </h3>
                    <p class="news-card__text">ООО&nbsp;«Технотрейд» совместно с&nbsp;нашим партнером из&nbsp;Норвегии
                      заводом ØVERAASEN AS
                      принял участие в&nbsp;выставке и&nbsp;форуме NAIS.</p>

                    <button class="news-card__btn button-primary button-primary--transparent" href="#">
                      <i class="button-primary__icon">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                        </svg>
                      </i>

                      <span class="button-primary__text">Подробнее</span>
                    </button>
                  </a>
                </li>

                <li class="news__item swiper-slide" style="width: 397.333px; margin-right: 24px;">
                  <a class="news__link news-card" href="#">
                    <img class="news-card__img" src="img/news/1.jpg" alt="Картинка">
                    <span class="news-card__date">
                      <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M13.8333 15.8335H2.16667V6.66683H13.8333M11.3333 0.833496V2.50016H4.66667V0.833496H3V2.50016H2.16667C1.24167 2.50016 0.5 3.24183 0.5 4.16683V15.8335C0.5 16.2755 0.675595 16.6994 0.988155 17.012C1.30072 17.3246 1.72464 17.5002 2.16667 17.5002H13.8333C14.2754 17.5002 14.6993 17.3246 15.0118 17.012C15.3244 16.6994 15.5 16.2755 15.5 15.8335V4.16683C15.5 3.7248 15.3244 3.30088 15.0118 2.98832C14.6993 2.67576 14.2754 2.50016 13.8333 2.50016H13V0.833496M12.1667 10.0002H8V14.1668H12.1667V10.0002Z"
                          fill="#898989"></path>
                      </svg>

                      1&nbsp;июля 2024
                    </span>
                    <h3 class="news-card__title">Выставка и&nbsp;Форум NAIS. Национальная выставка инфраструктуры
                      гражданской авиации
                    </h3>
                    <p class="news-card__text">ООО&nbsp;«Технотрейд» совместно с&nbsp;нашим партнером из&nbsp;Норвегии
                      заводом ØVERAASEN AS
                      принял участие в&nbsp;выставке и&nbsp;форуме NAIS.</p>

                    <button class="news-card__btn button-primary button-primary--transparent" href="#">
                      <i class="button-primary__icon">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                        </svg>
                      </i>

                      <span class="button-primary__text">Подробнее</span>
                    </button>
                  </a>
                </li>
              </ul>

              <div
                class="news__progressbar slider-pagination swiper-pagination-progressbar swiper-pagination-horizontal">
                <span class="swiper-pagination-progressbar-fill"
                  style="transform: translate3d(0px, 0px, 0px) scaleX(0.333333) scaleY(1); transition-duration: 300ms;"></span>
              </div>

              <a class="news__button-primary news__button-primary--mobile button-primary" href="#">
                <span class="button-primary__text">Все новости</span>
                <i class="button-primary__icon">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                  </svg>
                </i>
              </a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>