<section class="news">
  <div class="container">
    <div class="news__head">
      <h2 class="news__title title-block">
        Новости
      </h2>

      <a class="news__button-primary button-primary" href="#">
        <span class="button-primary__text">Все новости</span>
        <i class="button-primary__icon">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
          </svg>
        </i>
      </a>
    </div>

    <div class="news__slider-wrapper swiper">
      <ul class="news__list swiper-wrapper">
        <li class="news__item swiper-slide">
          <a class="news__link news-card" href="#">
            <img class="news-card__img" src="img/news/1.jpg" alt="Картинка">
            <span class="news-card__date">
              <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M13.8333 15.8335H2.16667V6.66683H13.8333M11.3333 0.833496V2.50016H4.66667V0.833496H3V2.50016H2.16667C1.24167 2.50016 0.5 3.24183 0.5 4.16683V15.8335C0.5 16.2755 0.675595 16.6994 0.988155 17.012C1.30072 17.3246 1.72464 17.5002 2.16667 17.5002H13.8333C14.2754 17.5002 14.6993 17.3246 15.0118 17.012C15.3244 16.6994 15.5 16.2755 15.5 15.8335V4.16683C15.5 3.7248 15.3244 3.30088 15.0118 2.98832C14.6993 2.67576 14.2754 2.50016 13.8333 2.50016H13V0.833496M12.1667 10.0002H8V14.1668H12.1667V10.0002Z"
                  fill="#898989" />
              </svg>

              1 июля 2024
            </span>
            <h3 class="news-card__title">Выставка и Форум NAIS. Национальная выставка инфраструктуры гражданской авиации
            </h3>
            <p class="news-card__text">ООО «Технотрейд» совместно с нашим партнером из Норвегии заводом ØVERAASEN AS
              принял участие в выставке и форуме NAIS.</p>

            <button class="news-card__btn button-primary button-primary--transparent" href="#">
              <i class="button-primary__icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                </svg>
              </i>

              <span class="button-primary__text">Подробнее</span>
            </button>
          </a>
        </li>

        <li class="news__item swiper-slide">
          <a class="news__link news-card" href="#">
            <img class="news-card__img" src="img/news/1.jpg" alt="Картинка">
            <span class="news-card__date">
              <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M13.8333 15.8335H2.16667V6.66683H13.8333M11.3333 0.833496V2.50016H4.66667V0.833496H3V2.50016H2.16667C1.24167 2.50016 0.5 3.24183 0.5 4.16683V15.8335C0.5 16.2755 0.675595 16.6994 0.988155 17.012C1.30072 17.3246 1.72464 17.5002 2.16667 17.5002H13.8333C14.2754 17.5002 14.6993 17.3246 15.0118 17.012C15.3244 16.6994 15.5 16.2755 15.5 15.8335V4.16683C15.5 3.7248 15.3244 3.30088 15.0118 2.98832C14.6993 2.67576 14.2754 2.50016 13.8333 2.50016H13V0.833496M12.1667 10.0002H8V14.1668H12.1667V10.0002Z"
                  fill="#898989" />
              </svg>

              1 июля 2024
            </span>
            <h3 class="news-card__title">Выставка и Форум NAIS. Национальная выставка инфраструктуры гражданской авиации
            </h3>
            <p class="news-card__text">ООО «Технотрейд» совместно с нашим партнером из Норвегии заводом ØVERAASEN AS
              принял участие в выставке и форуме NAIS.</p>

            <button class="news-card__btn button-primary button-primary--transparent" href="#">
              <i class="button-primary__icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                </svg>
              </i>

              <span class="button-primary__text">Подробнее</span>
            </button>
          </a>
        </li>

        <li class="news__item swiper-slide">
          <a class="news__link news-card" href="#">
            <img class="news-card__img" src="img/news/1.jpg" alt="Картинка">
            <span class="news-card__date">
              <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M13.8333 15.8335H2.16667V6.66683H13.8333M11.3333 0.833496V2.50016H4.66667V0.833496H3V2.50016H2.16667C1.24167 2.50016 0.5 3.24183 0.5 4.16683V15.8335C0.5 16.2755 0.675595 16.6994 0.988155 17.012C1.30072 17.3246 1.72464 17.5002 2.16667 17.5002H13.8333C14.2754 17.5002 14.6993 17.3246 15.0118 17.012C15.3244 16.6994 15.5 16.2755 15.5 15.8335V4.16683C15.5 3.7248 15.3244 3.30088 15.0118 2.98832C14.6993 2.67576 14.2754 2.50016 13.8333 2.50016H13V0.833496M12.1667 10.0002H8V14.1668H12.1667V10.0002Z"
                  fill="#898989" />
              </svg>

              1 июля 2024
            </span>
            <h3 class="news-card__title">Выставка и Форум NAIS. Национальная выставка инфраструктуры гражданской авиации
            </h3>
            <p class="news-card__text">ООО «Технотрейд» совместно с нашим партнером из Норвегии заводом ØVERAASEN AS
              принял участие в выставке и форуме NAIS.</p>

            <button class="news-card__btn button-primary button-primary--transparent" href="#">
              <i class="button-primary__icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                </svg>
              </i>

              <span class="button-primary__text">Подробнее</span>
            </button>
          </a>
        </li>

        <li class="news__item swiper-slide">
          <a class="news__link news-card" href="#">
            <img class="news-card__img" src="img/news/1.jpg" alt="Картинка">
            <span class="news-card__date">
              <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M13.8333 15.8335H2.16667V6.66683H13.8333M11.3333 0.833496V2.50016H4.66667V0.833496H3V2.50016H2.16667C1.24167 2.50016 0.5 3.24183 0.5 4.16683V15.8335C0.5 16.2755 0.675595 16.6994 0.988155 17.012C1.30072 17.3246 1.72464 17.5002 2.16667 17.5002H13.8333C14.2754 17.5002 14.6993 17.3246 15.0118 17.012C15.3244 16.6994 15.5 16.2755 15.5 15.8335V4.16683C15.5 3.7248 15.3244 3.30088 15.0118 2.98832C14.6993 2.67576 14.2754 2.50016 13.8333 2.50016H13V0.833496M12.1667 10.0002H8V14.1668H12.1667V10.0002Z"
                  fill="#898989" />
              </svg>

              1 июля 2024
            </span>
            <h3 class="news-card__title">Выставка и Форум NAIS. Национальная выставка инфраструктуры гражданской авиации
            </h3>
            <p class="news-card__text">ООО «Технотрейд» совместно с нашим партнером из Норвегии заводом ØVERAASEN AS
              принял участие в выставке и форуме NAIS.</p>

            <button class="news-card__btn button-primary button-primary--transparent" href="#">
              <i class="button-primary__icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                </svg>
              </i>

              <span class="button-primary__text">Подробнее</span>
            </button>
          </a>
        </li>

        <li class="news__item swiper-slide">
          <a class="news__link news-card" href="#">
            <img class="news-card__img" src="img/news/1.jpg" alt="Картинка">
            <span class="news-card__date">
              <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M13.8333 15.8335H2.16667V6.66683H13.8333M11.3333 0.833496V2.50016H4.66667V0.833496H3V2.50016H2.16667C1.24167 2.50016 0.5 3.24183 0.5 4.16683V15.8335C0.5 16.2755 0.675595 16.6994 0.988155 17.012C1.30072 17.3246 1.72464 17.5002 2.16667 17.5002H13.8333C14.2754 17.5002 14.6993 17.3246 15.0118 17.012C15.3244 16.6994 15.5 16.2755 15.5 15.8335V4.16683C15.5 3.7248 15.3244 3.30088 15.0118 2.98832C14.6993 2.67576 14.2754 2.50016 13.8333 2.50016H13V0.833496M12.1667 10.0002H8V14.1668H12.1667V10.0002Z"
                  fill="#898989" />
              </svg>

              1 июля 2024
            </span>
            <h3 class="news-card__title">Выставка и Форум NAIS. Национальная выставка инфраструктуры гражданской авиации
            </h3>
            <p class="news-card__text">ООО «Технотрейд» совместно с нашим партнером из Норвегии заводом ØVERAASEN AS
              принял участие в выставке и форуме NAIS.</p>

            <button class="news-card__btn button-primary button-primary--transparent" href="#">
              <i class="button-primary__icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                </svg>
              </i>

              <span class="button-primary__text">Подробнее</span>
            </button>
          </a>
        </li>
      </ul>

      <div class="news__progressbar slider-pagination"></div>

      <a class="news__button-primary news__button-primary--mobile button-primary" href="#">
        <span class="button-primary__text">Все новости</span>
        <i class="button-primary__icon">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
          </svg>
        </i>
      </a>
    </div>
  </div>
</section>
