<section class="news-page">
  <div class="news-page__head head-page">
    <div class="container">
      <div class="head-page__breadcrumbs breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="index.html">Главная</a></li>
          <li class="breadcrumbs__item breadcrumbs__item--active"><span>Новости</span></li>
        </ul>
      </div>

      <div class="head-page__wrapper">
        <h1 class="news-page__title head-page__title">Новости и события</h1>

        <div class="head-page__inner">
          <div class="news-page__select-menu select-menu">
            <div class="select-menu__btn-wrapper">
              <svg class="select-menu__calendar" width="20" height="20" viewBox="0 0 20 20" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M15.8333 16.8335H4.16667V7.66683H15.8333M13.3333 1.8335V3.50016H6.66667V1.8335H5V3.50016H4.16667C3.24167 3.50016 2.5 4.24183 2.5 5.16683V16.8335C2.5 17.2755 2.67559 17.6994 2.98816 18.012C3.30072 18.3246 3.72464 18.5002 4.16667 18.5002H15.8333C16.2754 18.5002 16.6993 18.3246 17.0118 18.012C17.3244 17.6994 17.5 17.2755 17.5 16.8335V5.16683C17.5 4.7248 17.3244 4.30088 17.0118 3.98832C16.6993 3.67576 16.2754 3.50016 15.8333 3.50016H15V1.8335M14.1667 11.0002H10V15.1668H14.1667V11.0002Z"
                  fill="#3e3a39"></path>
              </svg>

              <button class="select-menu__btn">За&nbsp;все время</button>

              <svg class="select-menu__arrow" width="16" height="16" viewBox="0 0 16 16" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g opacity="0.6">
                  <path d="M12.7992 5.59998L7.99922 10.4L3.19922 5.59998" stroke="#3e3a39" stroke-width="2"
                    stroke-linecap="square" stroke-linejoin="round"></path>
                </g>
              </svg>
            </div>

            <ul class="select-menu__options">
              <li class="select-menu__option">За&nbsp;все время</li>
              <li class="select-menu__option">2023</li>
              <li class="select-menu__option">2022</li>
              <li class="select-menu__option">2021 и&nbsp;ранее</li>
            </ul>
          </div>

          <div class="news-page__quantity-items quantity-items">
            <span class="quantity-items__name">Показать:</span>
            <button class="quantity-items__num quantity-items__num--active">9</button>
            <button class="quantity-items__num">12</button>
            <button class="quantity-items__num">24</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="news-page__content">
    <div class="container">
      <ul class="news-page__list">
        <li class="news-page__item">
          <a class="news__link news-card" href="#">
            <img class="news-card__img" src="img/news/1.jpg" alt="Картинка">
            <span class="news-card__date">
              <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M13.8333 15.8335H2.16667V6.66683H13.8333M11.3333 0.833496V2.50016H4.66667V0.833496H3V2.50016H2.16667C1.24167 2.50016 0.5 3.24183 0.5 4.16683V15.8335C0.5 16.2755 0.675595 16.6994 0.988155 17.012C1.30072 17.3246 1.72464 17.5002 2.16667 17.5002H13.8333C14.2754 17.5002 14.6993 17.3246 15.0118 17.012C15.3244 16.6994 15.5 16.2755 15.5 15.8335V4.16683C15.5 3.7248 15.3244 3.30088 15.0118 2.98832C14.6993 2.67576 14.2754 2.50016 13.8333 2.50016H13V0.833496M12.1667 10.0002H8V14.1668H12.1667V10.0002Z"
                  fill="#898989"></path>
              </svg>

              1&nbsp;июля 2024
            </span>
            <h3 class="news-card__title">Выставка и&nbsp;Форум NAIS. Национальная выставка инфраструктуры гражданской
              авиации
            </h3>
            <p class="news-card__text">ООО&nbsp;«Технотрейд» совместно с&nbsp;нашим партнером из&nbsp;Норвегии заводом
              ØVERAASEN AS
              принял участие в&nbsp;выставке и&nbsp;форуме NAIS.</p>

            <button class="news-card__btn button-primary button-primary--transparent" href="#">
              <i class="button-primary__icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                </svg>
              </i>

              <span class="button-primary__text button-primary__text--bg-white">Подробнее</span>
            </button>
          </a>
        </li>

        <li class="news-page__item">
          <a class="news__link news-card" href="#">
            <img class="news-card__img" src="img/news/2.jpg" alt="Картинка">
            <span class="news-card__date">
              <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M13.8333 15.8335H2.16667V6.66683H13.8333M11.3333 0.833496V2.50016H4.66667V0.833496H3V2.50016H2.16667C1.24167 2.50016 0.5 3.24183 0.5 4.16683V15.8335C0.5 16.2755 0.675595 16.6994 0.988155 17.012C1.30072 17.3246 1.72464 17.5002 2.16667 17.5002H13.8333C14.2754 17.5002 14.6993 17.3246 15.0118 17.012C15.3244 16.6994 15.5 16.2755 15.5 15.8335V4.16683C15.5 3.7248 15.3244 3.30088 15.0118 2.98832C14.6993 2.67576 14.2754 2.50016 13.8333 2.50016H13V0.833496M12.1667 10.0002H8V14.1668H12.1667V10.0002Z"
                  fill="#898989"></path>
              </svg>

              1&nbsp;июля 2024
            </span>
            <h3 class="news-card__title">Выставка и&nbsp;Форум NAIS. Национальная выставка инфраструктуры гражданской
              авиации
            </h3>
            <p class="news-card__text">ООО&nbsp;«Технотрейд» совместно с&nbsp;нашим партнером из&nbsp;Норвегии заводом
              ØVERAASEN AS
              принял участие в&nbsp;выставке и&nbsp;форуме NAIS.</p>

            <button class="news-card__btn button-primary button-primary--transparent" href="#">
              <i class="button-primary__icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                </svg>
              </i>

              <span class="button-primary__text button-primary__text--bg-white">Подробнее</span>
            </button>
          </a>
        </li>

        <li class="news-page__item">
          <a class="news__link news-card" href="#">
            <img class="news-card__img" src="img/news/3.jpg" alt="Картинка">
            <span class="news-card__date">
              <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M13.8333 15.8335H2.16667V6.66683H13.8333M11.3333 0.833496V2.50016H4.66667V0.833496H3V2.50016H2.16667C1.24167 2.50016 0.5 3.24183 0.5 4.16683V15.8335C0.5 16.2755 0.675595 16.6994 0.988155 17.012C1.30072 17.3246 1.72464 17.5002 2.16667 17.5002H13.8333C14.2754 17.5002 14.6993 17.3246 15.0118 17.012C15.3244 16.6994 15.5 16.2755 15.5 15.8335V4.16683C15.5 3.7248 15.3244 3.30088 15.0118 2.98832C14.6993 2.67576 14.2754 2.50016 13.8333 2.50016H13V0.833496M12.1667 10.0002H8V14.1668H12.1667V10.0002Z"
                  fill="#898989"></path>
              </svg>

              1&nbsp;июля 2024
            </span>
            <h3 class="news-card__title">Выставка и&nbsp;Форум NAIS. Национальная выставка инфраструктуры гражданской
              авиации
            </h3>
            <p class="news-card__text">ООО&nbsp;«Технотрейд» совместно с&nbsp;нашим партнером из&nbsp;Норвегии заводом
              ØVERAASEN AS
              принял участие в&nbsp;выставке и&nbsp;форуме NAIS.</p>

            <button class="news-card__btn button-primary button-primary--transparent" href="#">
              <i class="button-primary__icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                </svg>
              </i>

              <span class="button-primary__text button-primary__text--bg-white">Подробнее</span>
            </button>
          </a>
        </li>

        <li class="news-page__item">
          <a class="news__link news-card" href="#">
            <img class="news-card__img" src="img/news/1.jpg" alt="Картинка">
            <span class="news-card__date">
              <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M13.8333 15.8335H2.16667V6.66683H13.8333M11.3333 0.833496V2.50016H4.66667V0.833496H3V2.50016H2.16667C1.24167 2.50016 0.5 3.24183 0.5 4.16683V15.8335C0.5 16.2755 0.675595 16.6994 0.988155 17.012C1.30072 17.3246 1.72464 17.5002 2.16667 17.5002H13.8333C14.2754 17.5002 14.6993 17.3246 15.0118 17.012C15.3244 16.6994 15.5 16.2755 15.5 15.8335V4.16683C15.5 3.7248 15.3244 3.30088 15.0118 2.98832C14.6993 2.67576 14.2754 2.50016 13.8333 2.50016H13V0.833496M12.1667 10.0002H8V14.1668H12.1667V10.0002Z"
                  fill="#898989"></path>
              </svg>

              1&nbsp;июля 2024
            </span>
            <h3 class="news-card__title">Выставка и&nbsp;Форум NAIS. Национальная выставка инфраструктуры гражданской
              авиации
            </h3>
            <p class="news-card__text">ООО&nbsp;«Технотрейд» совместно с&nbsp;нашим партнером из&nbsp;Норвегии заводом
              ØVERAASEN AS
              принял участие в&nbsp;выставке и&nbsp;форуме NAIS.</p>

            <button class="news-card__btn button-primary button-primary--transparent" href="#">
              <i class="button-primary__icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                </svg>
              </i>

              <span class="button-primary__text button-primary__text--bg-white">Подробнее</span>
            </button>
          </a>
        </li>

        <li class="news-page__item">
          <a class="news__link news-card" href="#">
            <img class="news-card__img" src="img/news/2.jpg" alt="Картинка">
            <span class="news-card__date">
              <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M13.8333 15.8335H2.16667V6.66683H13.8333M11.3333 0.833496V2.50016H4.66667V0.833496H3V2.50016H2.16667C1.24167 2.50016 0.5 3.24183 0.5 4.16683V15.8335C0.5 16.2755 0.675595 16.6994 0.988155 17.012C1.30072 17.3246 1.72464 17.5002 2.16667 17.5002H13.8333C14.2754 17.5002 14.6993 17.3246 15.0118 17.012C15.3244 16.6994 15.5 16.2755 15.5 15.8335V4.16683C15.5 3.7248 15.3244 3.30088 15.0118 2.98832C14.6993 2.67576 14.2754 2.50016 13.8333 2.50016H13V0.833496M12.1667 10.0002H8V14.1668H12.1667V10.0002Z"
                  fill="#898989"></path>
              </svg>

              1&nbsp;июля 2024
            </span>
            <h3 class="news-card__title">Выставка и&nbsp;Форум NAIS. Национальная выставка инфраструктуры гражданской
              авиации
            </h3>
            <p class="news-card__text">ООО&nbsp;«Технотрейд» совместно с&nbsp;нашим партнером из&nbsp;Норвегии заводом
              ØVERAASEN AS
              принял участие в&nbsp;выставке и&nbsp;форуме NAIS.</p>

            <button class="news-card__btn button-primary button-primary--transparent" href="#">
              <i class="button-primary__icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                </svg>
              </i>

              <span class="button-primary__text button-primary__text--bg-white">Подробнее</span>
            </button>
          </a>
        </li>

        <li class="news-page__item">
          <a class="news__link news-card" href="#">
            <img class="news-card__img" src="img/news/3.jpg" alt="Картинка">
            <span class="news-card__date">
              <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M13.8333 15.8335H2.16667V6.66683H13.8333M11.3333 0.833496V2.50016H4.66667V0.833496H3V2.50016H2.16667C1.24167 2.50016 0.5 3.24183 0.5 4.16683V15.8335C0.5 16.2755 0.675595 16.6994 0.988155 17.012C1.30072 17.3246 1.72464 17.5002 2.16667 17.5002H13.8333C14.2754 17.5002 14.6993 17.3246 15.0118 17.012C15.3244 16.6994 15.5 16.2755 15.5 15.8335V4.16683C15.5 3.7248 15.3244 3.30088 15.0118 2.98832C14.6993 2.67576 14.2754 2.50016 13.8333 2.50016H13V0.833496M12.1667 10.0002H8V14.1668H12.1667V10.0002Z"
                  fill="#898989"></path>
              </svg>

              1&nbsp;июля 2024
            </span>
            <h3 class="news-card__title">Выставка и&nbsp;Форум NAIS. Национальная выставка инфраструктуры гражданской
              авиации
            </h3>
            <p class="news-card__text">ООО&nbsp;«Технотрейд» совместно с&nbsp;нашим партнером из&nbsp;Норвегии заводом
              ØVERAASEN AS
              принял участие в&nbsp;выставке и&nbsp;форуме NAIS.</p>

            <button class="news-card__btn button-primary button-primary--transparent" href="#">
              <i class="button-primary__icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                </svg>
              </i>

              <span class="button-primary__text button-primary__text--bg-white">Подробнее</span>
            </button>
          </a>
        </li>

        <li class="news-page__item">
          <a class="news__link news-card" href="#">
            <img class="news-card__img" src="img/news/1.jpg" alt="Картинка">
            <span class="news-card__date">
              <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M13.8333 15.8335H2.16667V6.66683H13.8333M11.3333 0.833496V2.50016H4.66667V0.833496H3V2.50016H2.16667C1.24167 2.50016 0.5 3.24183 0.5 4.16683V15.8335C0.5 16.2755 0.675595 16.6994 0.988155 17.012C1.30072 17.3246 1.72464 17.5002 2.16667 17.5002H13.8333C14.2754 17.5002 14.6993 17.3246 15.0118 17.012C15.3244 16.6994 15.5 16.2755 15.5 15.8335V4.16683C15.5 3.7248 15.3244 3.30088 15.0118 2.98832C14.6993 2.67576 14.2754 2.50016 13.8333 2.50016H13V0.833496M12.1667 10.0002H8V14.1668H12.1667V10.0002Z"
                  fill="#898989"></path>
              </svg>

              1&nbsp;июля 2024
            </span>
            <h3 class="news-card__title">Выставка и&nbsp;Форум NAIS. Национальная выставка инфраструктуры гражданской
              авиации
            </h3>
            <p class="news-card__text">ООО&nbsp;«Технотрейд» совместно с&nbsp;нашим партнером из&nbsp;Норвегии заводом
              ØVERAASEN AS
              принял участие в&nbsp;выставке и&nbsp;форуме NAIS.</p>

            <button class="news-card__btn button-primary button-primary--transparent" href="#">
              <i class="button-primary__icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                </svg>
              </i>

              <span class="button-primary__text button-primary__text--bg-white">Подробнее</span>
            </button>
          </a>
        </li>

        <li class="news-page__item">
          <a class="news__link news-card" href="#">
            <img class="news-card__img" src="img/news/2.jpg" alt="Картинка">
            <span class="news-card__date">
              <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M13.8333 15.8335H2.16667V6.66683H13.8333M11.3333 0.833496V2.50016H4.66667V0.833496H3V2.50016H2.16667C1.24167 2.50016 0.5 3.24183 0.5 4.16683V15.8335C0.5 16.2755 0.675595 16.6994 0.988155 17.012C1.30072 17.3246 1.72464 17.5002 2.16667 17.5002H13.8333C14.2754 17.5002 14.6993 17.3246 15.0118 17.012C15.3244 16.6994 15.5 16.2755 15.5 15.8335V4.16683C15.5 3.7248 15.3244 3.30088 15.0118 2.98832C14.6993 2.67576 14.2754 2.50016 13.8333 2.50016H13V0.833496M12.1667 10.0002H8V14.1668H12.1667V10.0002Z"
                  fill="#898989"></path>
              </svg>

              1&nbsp;июля 2024
            </span>
            <h3 class="news-card__title">Выставка и&nbsp;Форум NAIS. Национальная выставка инфраструктуры гражданской
              авиации
            </h3>
            <p class="news-card__text">ООО&nbsp;«Технотрейд» совместно с&nbsp;нашим партнером из&nbsp;Норвегии заводом
              ØVERAASEN AS
              принял участие в&nbsp;выставке и&nbsp;форуме NAIS.</p>

            <button class="news-card__btn button-primary button-primary--transparent" href="#">
              <i class="button-primary__icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                </svg>
              </i>

              <span class="button-primary__text button-primary__text--bg-white">Подробнее</span>
            </button>
          </a>
        </li>

        <li class="news-page__item">
          <a class="news__link news-card" href="#">
            <img class="news-card__img" src="img/news/3.jpg" alt="Картинка">
            <span class="news-card__date">
              <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M13.8333 15.8335H2.16667V6.66683H13.8333M11.3333 0.833496V2.50016H4.66667V0.833496H3V2.50016H2.16667C1.24167 2.50016 0.5 3.24183 0.5 4.16683V15.8335C0.5 16.2755 0.675595 16.6994 0.988155 17.012C1.30072 17.3246 1.72464 17.5002 2.16667 17.5002H13.8333C14.2754 17.5002 14.6993 17.3246 15.0118 17.012C15.3244 16.6994 15.5 16.2755 15.5 15.8335V4.16683C15.5 3.7248 15.3244 3.30088 15.0118 2.98832C14.6993 2.67576 14.2754 2.50016 13.8333 2.50016H13V0.833496M12.1667 10.0002H8V14.1668H12.1667V10.0002Z"
                  fill="#898989"></path>
              </svg>

              1&nbsp;июля 2024
            </span>
            <h3 class="news-card__title">Выставка и&nbsp;Форум NAIS. Национальная выставка инфраструктуры гражданской
              авиации
            </h3>
            <p class="news-card__text">ООО&nbsp;«Технотрейд» совместно с&nbsp;нашим партнером из&nbsp;Норвегии заводом
              ØVERAASEN AS
              принял участие в&nbsp;выставке и&nbsp;форуме NAIS.</p>

            <button class="news-card__btn button-primary button-primary--transparent" href="#">
              <i class="button-primary__icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                </svg>
              </i>

              <span class="button-primary__text button-primary__text--bg-white">Подробнее</span>
            </button>
          </a>
        </li>
      </ul>

      <button class="news-page__more-btn">Показать еще</button>
    </div>
  </div>

  <div class="container container--large">
    <div class="container-decor">
      <div class="container">
        <div class="in-stock">
          <div class="container">

            <div class="in-stock__head">
              <h2 class="in-stock__title title-block">Техника в&nbsp;наличии</h2>

              <a class="in-stock__button-primary button-primary" href="#">
                <span class="button-primary__text">Весь каталог</span>
                <i class="button-primary__icon">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                  </svg>
                </i>
              </a>
            </div>

            <div class="in-stock__slider-wrapper">
              <div class="in-stock__slider swiper swiper-initialized swiper-horizontal swiper-backface-hidden">
                <ul class="in-stock__list swiper-wrapper">
                  <li class="in-stock__item swiper-slide swiper-slide-active" style="width: 286px; margin-right: 32px;">
                    <article class="technic-card">
                      <a class="technic-card__link" href="#">
                        <div class="technic-card__badge">
                          <div class="technic-card__badge-info technic-card__badge-info--green">В&nbsp;наличии</div>
                        </div>

                        <img class="technic-card__img" src="img/technic/technic-card-img.png" alt="Картинка">

                        <h3 class="technic-card__title">Коленчатый подъемник Dingli BA11NE</h3>

                        <ul class="technic-card__list">
                          <li class="technic-card__item">
                            <span class="technic-card__item-left">Собственный вес</span>
                            <span class="technic-card__item-right">9000 кг</span>
                          </li>
                          <li class="technic-card__item">
                            <span class="technic-card__item-left">Максимальный вес</span>
                            <span class="technic-card__item-right">11/13/15 т</span>
                          </li>
                          <li class="technic-card__item">
                            <span class="technic-card__item-left">Габариты</span>
                            <span class="technic-card__item-right">5435×2240×2000 мм</span>
                          </li>
                          <li class="technic-card__item">
                            <span class="technic-card__item-left">Радиус разворота</span>
                            <span class="technic-card__item-right">4900&nbsp;мм</span>
                          </li>
                        </ul>
                      </a>

                      <div class="technic-card__bot">

                        <button class="technic-card__button-primary button-primary" data-graph-path="request-kp">
                          <span class="button-primary__text">Получить КП</span>
                          <i class="button-primary__icon">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                            </svg>
                          </i>
                        </button>

                        <a class="technic-card__more" href="#">
                          <svg width="19" height="16" viewBox="0 0 19 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                          </svg>
                        </a>
                      </div>
                    </article>
                  </li>

                  <li class="in-stock__item swiper-slide swiper-slide-next" style="width: 286px; margin-right: 32px;">
                    <article class="technic-card">
                      <a class="technic-card__link" href="#">
                        <div class="technic-card__badge">
                          <div class="technic-card__badge-info technic-card__badge-info--green">В&nbsp;наличии</div>
                        </div>

                        <img class="technic-card__img" src="img/technic/technic-card-img.png" alt="Картинка">

                        <h3 class="technic-card__title">Коленчатый подъемник Dingli BA11NE</h3>

                        <ul class="technic-card__list">
                          <li class="technic-card__item">
                            <span class="technic-card__item-left">Собственный вес</span>
                            <span class="technic-card__item-right">9000 кг</span>
                          </li>
                          <li class="technic-card__item">
                            <span class="technic-card__item-left">Максимальный вес</span>
                            <span class="technic-card__item-right">11/13/15 т</span>
                          </li>
                          <li class="technic-card__item">
                            <span class="technic-card__item-left">Габариты</span>
                            <span class="technic-card__item-right">5435×2240×2000 мм</span>
                          </li>
                          <li class="technic-card__item">
                            <span class="technic-card__item-left">Радиус разворота</span>
                            <span class="technic-card__item-right">4900&nbsp;мм</span>
                          </li>
                        </ul>
                      </a>

                      <div class="technic-card__bot">

                        <button class="technic-card__button-primary button-primary" data-graph-path="request-kp">
                          <span class="button-primary__text">Получить КП</span>
                          <i class="button-primary__icon">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                            </svg>
                          </i>
                        </button>

                        <a class="technic-card__more" href="#">
                          <svg width="19" height="16" viewBox="0 0 19 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                          </svg>
                        </a>
                      </div>
                    </article>
                  </li>

                  <li class="in-stock__item swiper-slide" style="width: 286px; margin-right: 32px;">
                    <article class="technic-card">
                      <a class="technic-card__link" href="#">
                        <div class="technic-card__badge">
                          <div class="technic-card__badge-info technic-card__badge-info--green">В&nbsp;наличии</div>
                        </div>

                        <img class="technic-card__img" src="img/technic/technic-card-img.png" alt="Картинка">

                        <h3 class="technic-card__title">Коленчатый подъемник Dingli BA11NE</h3>

                        <ul class="technic-card__list">
                          <li class="technic-card__item">
                            <span class="technic-card__item-left">Собственный вес</span>
                            <span class="technic-card__item-right">9000 кг</span>
                          </li>
                          <li class="technic-card__item">
                            <span class="technic-card__item-left">Максимальный вес</span>
                            <span class="technic-card__item-right">11/13/15 т</span>
                          </li>
                          <li class="technic-card__item">
                            <span class="technic-card__item-left">Габариты</span>
                            <span class="technic-card__item-right">5435×2240×2000 мм</span>
                          </li>
                          <li class="technic-card__item">
                            <span class="technic-card__item-left">Радиус разворота</span>
                            <span class="technic-card__item-right">4900&nbsp;мм</span>
                          </li>
                        </ul>
                      </a>

                      <div class="technic-card__bot">

                        <button class="technic-card__button-primary button-primary" data-graph-path="request-kp">
                          <span class="button-primary__text">Получить КП</span>
                          <i class="button-primary__icon">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                            </svg>
                          </i>
                        </button>

                        <a class="technic-card__more" href="#">
                          <svg width="19" height="16" viewBox="0 0 19 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                          </svg>
                        </a>
                      </div>
                    </article>
                  </li>

                  <li class="in-stock__item swiper-slide" style="width: 286px; margin-right: 32px;">
                    <article class="technic-card">
                      <a class="technic-card__link" href="#">
                        <div class="technic-card__badge">
                          <div class="technic-card__badge-info technic-card__badge-info--green">В&nbsp;наличии</div>
                        </div>

                        <img class="technic-card__img" src="img/technic/technic-card-img.png" alt="Картинка">

                        <h3 class="technic-card__title">Коленчатый подъемник Dingli BA11NE</h3>

                        <ul class="technic-card__list">
                          <li class="technic-card__item">
                            <span class="technic-card__item-left">Собственный вес</span>
                            <span class="technic-card__item-right">9000 кг</span>
                          </li>
                          <li class="technic-card__item">
                            <span class="technic-card__item-left">Максимальный вес</span>
                            <span class="technic-card__item-right">11/13/15 т</span>
                          </li>
                          <li class="technic-card__item">
                            <span class="technic-card__item-left">Габариты</span>
                            <span class="technic-card__item-right">5435×2240×2000 мм</span>
                          </li>
                          <li class="technic-card__item">
                            <span class="technic-card__item-left">Радиус разворота</span>
                            <span class="technic-card__item-right">4900&nbsp;мм</span>
                          </li>
                        </ul>
                      </a>

                      <div class="technic-card__bot">

                        <button class="technic-card__button-primary button-primary" data-graph-path="request-kp">
                          <span class="button-primary__text">Получить КП</span>
                          <i class="button-primary__icon">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                            </svg>
                          </i>
                        </button>

                        <a class="technic-card__more" href="#">
                          <svg width="19" height="16" viewBox="0 0 19 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                          </svg>
                        </a>
                      </div>
                    </article>
                  </li>

                  <li class="in-stock__item swiper-slide" style="width: 286px; margin-right: 32px;">
                    <article class="technic-card">
                      <a class="technic-card__link" href="#">
                        <div class="technic-card__badge">
                          <div class="technic-card__badge-info technic-card__badge-info--green">В&nbsp;наличии</div>
                        </div>

                        <img class="technic-card__img" src="img/technic/technic-card-img.png" alt="Картинка">

                        <h3 class="technic-card__title">Коленчатый подъемник Dingli BA11NE</h3>

                        <ul class="technic-card__list">
                          <li class="technic-card__item">
                            <span class="technic-card__item-left">Собственный вес</span>
                            <span class="technic-card__item-right">9000 кг</span>
                          </li>
                          <li class="technic-card__item">
                            <span class="technic-card__item-left">Максимальный вес</span>
                            <span class="technic-card__item-right">11/13/15 т</span>
                          </li>
                          <li class="technic-card__item">
                            <span class="technic-card__item-left">Габариты</span>
                            <span class="technic-card__item-right">5435×2240×2000 мм</span>
                          </li>
                          <li class="technic-card__item">
                            <span class="technic-card__item-left">Радиус разворота</span>
                            <span class="technic-card__item-right">4900&nbsp;мм</span>
                          </li>
                        </ul>
                      </a>

                      <div class="technic-card__bot">

                        <button class="technic-card__button-primary button-primary" data-graph-path="request-kp">
                          <span class="button-primary__text">Получить КП</span>
                          <i class="button-primary__icon">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                            </svg>
                          </i>
                        </button>

                        <a class="technic-card__more" href="#">
                          <svg width="19" height="16" viewBox="0 0 19 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                          </svg>
                        </a>
                      </div>
                    </article>
                  </li>

                  <li class="in-stock__item swiper-slide" style="width: 286px; margin-right: 32px;">
                    <article class="technic-card">
                      <a class="technic-card__link" href="#">
                        <div class="technic-card__badge">
                          <div class="technic-card__badge-info technic-card__badge-info--green">В&nbsp;наличии</div>
                        </div>

                        <img class="technic-card__img" src="img/technic/technic-card-img.png" alt="Картинка">

                        <h3 class="technic-card__title">Коленчатый подъемник Dingli BA11NE</h3>

                        <ul class="technic-card__list">
                          <li class="technic-card__item">
                            <span class="technic-card__item-left">Собственный вес</span>
                            <span class="technic-card__item-right">9000 кг</span>
                          </li>
                          <li class="technic-card__item">
                            <span class="technic-card__item-left">Максимальный вес</span>
                            <span class="technic-card__item-right">11/13/15 т</span>
                          </li>
                          <li class="technic-card__item">
                            <span class="technic-card__item-left">Габариты</span>
                            <span class="technic-card__item-right">5435×2240×2000 мм</span>
                          </li>
                          <li class="technic-card__item">
                            <span class="technic-card__item-left">Радиус разворота</span>
                            <span class="technic-card__item-right">4900&nbsp;мм</span>
                          </li>
                        </ul>
                      </a>

                      <div class="technic-card__bot">

                        <button class="technic-card__button-primary button-primary" data-graph-path="request-kp">
                          <span class="button-primary__text">Получить КП</span>
                          <i class="button-primary__icon">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                            </svg>
                          </i>
                        </button>

                        <a class="technic-card__more" href="#">
                          <svg width="19" height="16" viewBox="0 0 19 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                          </svg>
                        </a>
                      </div>
                    </article>
                  </li>
                </ul>
              </div>

              <div class="in-stock__slider-controls">
                <button
                  class="in-stock__slider-controls-prev slider-control slider-control--light-blue slider-control--prev swiper-button-disabled"
                  aria-label="Назад" disabled="">
                  <svg width="9" height="18" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 19L10 10L1 1" stroke="#00aef1" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </button>

                <div
                  class="in-stock__progressbar slider-pagination swiper-pagination-progressbar swiper-pagination-horizontal">
                  <span class="swiper-pagination-progressbar-fill"
                    style="transform: translate3d(0px, 0px, 0px) scaleX(0.333333) scaleY(1); transition-duration: 300ms;"></span>
                </div>

                <button
                  class="in-stock__slider-controls-next slider-control slider-control--light-blue slider-control--next"
                  aria-label="Назад">
                  <svg width="9" height="18" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 19L10 10L1 1" stroke="#00aef1" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </button>
              </div>

              <a class="in-stock__button-primary in-stock__button-primary--mobile button-primary" href="#">
                <span class="button-primary__text">Весь каталог</span>
                <i class="button-primary__icon">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                  </svg>
                </i>
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
