<section class="product">
  <div class="product__head head-page">
    <div class="container">
      <div class="product__breadcrumbs breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="index.html">Главная</a></li>
          <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Техника</a></li>
          <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Обслуживание пассажиров</a></li>
          <li class="breadcrumbs__item breadcrumbs__item--active"><span>Самоходные пассажирские трапы</span></li>
        </ul>
      </div>

      <h1 class="product__title">Самоходный пассажирский электрический трап GKT58ZD</h1>

      <div class="product__head-inner">
        <span class="product__flag flag">В&nbsp;наличии</span>

        <button class="product__head-print">
          <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M7.95463 19.3181H4.54554C4.24416 19.3181 3.95512 19.1984 3.74201 18.9853C3.5289 18.7722 3.40918 18.4832 3.40918 18.1818V12.5C3.40918 11.8972 3.64863 11.3191 4.07485 10.8929C4.50107 10.4667 5.07914 10.2272 5.68191 10.2272H19.3183C19.921 10.2272 20.4991 10.4667 20.9253 10.8929C21.3515 11.3191 21.591 11.8972 21.591 12.5V18.1818C21.591 18.4832 21.4713 18.7722 21.2582 18.9853C21.0451 19.1984 20.756 19.3181 20.4546 19.3181H17.0455M7.95463 4.54541H17.0455V10.2272H7.95463V4.54541ZM7.95463 17.0454H17.0455V21.5909H7.95463V17.0454Z"
              stroke="#898989" stroke-width="2" stroke-linejoin="round" />
            <path
              d="M6.818 14.7727C7.4456 14.7727 7.95437 14.264 7.95437 13.6364C7.95437 13.0088 7.4456 12.5 6.818 12.5C6.19041 12.5 5.68164 13.0088 5.68164 13.6364C5.68164 14.264 6.19041 14.7727 6.818 14.7727Z"
              fill="#898989" />
          </svg>

        </button>
      </div>

      <div class="product__inner">
        <div class="product__slider">
          <div class="product__slider-wrapper">
            <div class="product__swiper-thumbs-wrapper">
              <div class="product__swiper-thumbs swiper">
                <ul class="swiper-wrapper">
                  <li class="swiper-slide">
                    <img class="product__img-thumb" src="img/product/product.jpg" alt="Картинка">
                  </li>
                  <li class="swiper-slide">
                    <img class="product__img-thumb" src="img/product/product.jpg" alt="Картинка">
                  </li>
                  <li class="swiper-slide">
                    <img class="product__img-thumb" src="img/product/product.jpg" alt="Картинка">
                  </li>
                  <li class="swiper-slide">
                    <img class="product__img-thumb" src="img/product/product.jpg" alt="Картинка">
                  </li>
                  <li class="swiper-slide">
                    <img class="product__img-thumb" src="img/product/product.jpg" alt="Картинка">
                  </li>
                </ul>
              </div>

              <div class="product__swiper-prev swiper-button-prev"></div>
              <div class="product__swiper-next swiper-button-next"></div>
            </div>

            <div class="product__swiper swiper">
              <ul class="swiper-wrapper">
                <li class="swiper-slide">
                  <img class="product__img" src="img/product/product.jpg" alt="Картинка">
                </li>
                <li class="swiper-slide">
                  <img class="product__img" src="img/product/product.jpg" alt="Картинка">
                </li>
                <li class="swiper-slide">
                  <img class="product__img" src="img/product/product.jpg" alt="Картинка">
                </li>
                <li class="swiper-slide">
                  <img class="product__img" src="img/product/product.jpg" alt="Картинка">
                </li>
                <li class="swiper-slide">
                  <img class="product__img" src="img/product/product.jpg" alt="Картинка">
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="product__specifications">
          <ul class="product__info product-info">
            <li class="product-info__info-item">
              <span class="product-info__info-name">Диапазон обслуживаемых высот</span>
              <span class="product-info__info-meaning">2,300 – 5,800 мм</span>
            </li>

            <li class="product-info__info-item">
              <span class="product-info__info-name">Выдвижная секция (13 ступеней)</span>
              <span class="product-info__info-meaning">1,500 мм × 310 мм</span>
            </li>

            <li class="product-info__info-item">
              <span class="product-info__info-name">Стационарная секция (9 ступеней)</span>
              <span class="product-info__info-meaning">1,500 мм × 310 мм</span>
            </li>

            <li class="product-info__info-item">
              <span class="product-info__info-name">Подвижная лестница (1 ступень)</span>
              <span class="product-info__info-meaning">1,476 мм × 310 мм</span>
            </li>

            <li class="product-info__info-item">
              <span class="product-info__info-name">Макс. Количество пассажиров</span>
              <span class="product-info__info-meaning">95</span>
            </li>

            <li class="product-info__info-item">
              <span class="product-info__info-name">Двигатель</span>
              <span class="product-info__info-meaning">Электрический</span>
            </li>
          </ul>

          <button class="product__button-transparent">Все характеристики</button>

          <button class="product__button-primary button-primary">
            <span class="button-primary__text">Получить КП</span>
            <i class="button-primary__icon">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
              </svg>
            </i>
          </button>
        </div>
      </div>

      <div class="product__tabs-head tabs">
        <div class="tabs__head">
          <ul class="tabs__nav">
            <li class="tabs__nav-item tabs__nav-item--active" data-target="1"><button
                class="tabs__nav-btn">Описание</button></li>
            <li class="tabs__nav-item" data-target="2"><button class="tabs__nav-btn">Характеристики</button></li>
            <li class="tabs__nav-item" data-target="3"><button class="tabs__nav-btn">Документация</button></li>
          </ul>

          <div class="tabs__underline"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="product__tabs tabs">
      <ul class="tabs__content">
        <li class="tabs__panel tabs__panel--active" id="1">
          <div class="tabs__content-wrap">
            <div class="tabs__content-inner">
              <div class="text-block">
                <h3 class="text-block__title">Трап GKT58ZD</h3>
                <p class="text-block__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                  voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>

              <div class="text-block">
                <h3 class="text-block__title">Преимущества</h3>
                <p class="text-block__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                  voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p class="text-block__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                  voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>

              <div class="text-block">
                <h3 class="text-block__title">Применение</h3>
                <p class="text-block__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                  voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p class="text-block__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                  voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>

              <div class="text-block">
                <h3 class="text-block__title">Преимущества покупки в компании ООО «Технотрейд»</h3>
                <p class="text-block__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                  voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p class="text-block__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                  voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>


          </div>
        </li>

        <li class="tabs__panel tabs__panel" id="2">
          <div class="tabs__content-wrap">
            <div class="tabs__content-inner">
              321
            </div>

          </div>
        </li>

        <li class="tabs__panel tabs__panel" id="3">
          <div class="tabs__content-wrap">
            <div class="tabs__content-inner">
              4444
            </div>

          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="container container--large">
    <div class="container-decor">
      <div class="in-stock">
        <div class="container">

          <div class="in-stock__head">
            <h2 class="in-stock__title title-block">Также рекомендуем</h2>

            <a class="in-stock__button-primary button-primary" href="#">
              <span class="button-primary__text">Весь каталог</span>
              <i class="button-primary__icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                </svg>
              </i>
            </a>
          </div>

          <div class="in-stock__slider-wrapper">
            <div class="in-stock__slider swiper swiper-initialized swiper-horizontal swiper-backface-hidden">
              <ul class="in-stock__list swiper-wrapper">
                <li class="in-stock__item swiper-slide swiper-slide-active" style="width: 286px; margin-right: 32px;">
                  <article class="technic-card">
                    <a class="technic-card__link" href="#">
                      <div class="technic-card__badge">
                        <div class="technic-card__badge-info technic-card__badge-info--green">В&nbsp;наличии</div>
                      </div>

                      <img class="technic-card__img" src="img/technic/technic-card-img.png" alt="Картинка">

                      <h3 class="technic-card__title">Коленчатый подъемник Dingli BA11NE</h3>

                      <ul class="technic-card__list">
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Собственный вес</span>
                          <span class="technic-card__item-right">9000 кг</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Максимальный вес</span>
                          <span class="technic-card__item-right">11/13/15 т</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Габариты</span>
                          <span class="technic-card__item-right">5435×2240×2000 мм</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Радиус разворота</span>
                          <span class="technic-card__item-right">4900&nbsp;мм</span>
                        </li>
                      </ul>
                    </a>

                    <div class="technic-card__bot">

                      <a class="technic-card__button-primary button-primary" href="#">
                        <span class="button-primary__text">Получить КП</span>
                        <i class="button-primary__icon">
                          <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                          </svg>
                        </i>
                      </a>

                      <a class="technic-card__more" href="#">
                        <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                        </svg>
                      </a>
                    </div>
                  </article>
                </li>

                <li class="in-stock__item swiper-slide swiper-slide-next" style="width: 286px; margin-right: 32px;">
                  <article class="technic-card">
                    <a class="technic-card__link" href="#">
                      <div class="technic-card__badge">
                        <div class="technic-card__badge-info technic-card__badge-info--green">В&nbsp;наличии</div>
                      </div>

                      <img class="technic-card__img" src="img/technic/technic-card-img.png" alt="Картинка">

                      <h3 class="technic-card__title">Коленчатый подъемник Dingli BA11NE</h3>

                      <ul class="technic-card__list">
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Собственный вес</span>
                          <span class="technic-card__item-right">9000 кг</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Максимальный вес</span>
                          <span class="technic-card__item-right">11/13/15 т</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Габариты</span>
                          <span class="technic-card__item-right">5435×2240×2000 мм</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Радиус разворота</span>
                          <span class="technic-card__item-right">4900&nbsp;мм</span>
                        </li>
                      </ul>
                    </a>

                    <div class="technic-card__bot">

                      <a class="technic-card__button-primary button-primary" href="#">
                        <span class="button-primary__text">Получить КП</span>
                        <i class="button-primary__icon">
                          <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                          </svg>
                        </i>
                      </a>

                      <a class="technic-card__more" href="#">
                        <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                        </svg>
                      </a>
                    </div>
                  </article>
                </li>

                <li class="in-stock__item swiper-slide" style="width: 286px; margin-right: 32px;">
                  <article class="technic-card">
                    <a class="technic-card__link" href="#">
                      <div class="technic-card__badge">
                        <div class="technic-card__badge-info technic-card__badge-info--green">В&nbsp;наличии</div>
                      </div>

                      <img class="technic-card__img" src="img/technic/technic-card-img.png" alt="Картинка">

                      <h3 class="technic-card__title">Коленчатый подъемник Dingli BA11NE</h3>

                      <ul class="technic-card__list">
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Собственный вес</span>
                          <span class="technic-card__item-right">9000 кг</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Максимальный вес</span>
                          <span class="technic-card__item-right">11/13/15 т</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Габариты</span>
                          <span class="technic-card__item-right">5435×2240×2000 мм</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Радиус разворота</span>
                          <span class="technic-card__item-right">4900&nbsp;мм</span>
                        </li>
                      </ul>
                    </a>

                    <div class="technic-card__bot">

                      <a class="technic-card__button-primary button-primary" href="#">
                        <span class="button-primary__text">Получить КП</span>
                        <i class="button-primary__icon">
                          <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                          </svg>
                        </i>
                      </a>

                      <a class="technic-card__more" href="#">
                        <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                        </svg>
                      </a>
                    </div>
                  </article>
                </li>

                <li class="in-stock__item swiper-slide" style="width: 286px; margin-right: 32px;">
                  <article class="technic-card">
                    <a class="technic-card__link" href="#">
                      <div class="technic-card__badge">
                        <div class="technic-card__badge-info technic-card__badge-info--green">В&nbsp;наличии</div>
                      </div>

                      <img class="technic-card__img" src="img/technic/technic-card-img.png" alt="Картинка">

                      <h3 class="technic-card__title">Коленчатый подъемник Dingli BA11NE</h3>

                      <ul class="technic-card__list">
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Собственный вес</span>
                          <span class="technic-card__item-right">9000 кг</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Максимальный вес</span>
                          <span class="technic-card__item-right">11/13/15 т</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Габариты</span>
                          <span class="technic-card__item-right">5435×2240×2000 мм</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Радиус разворота</span>
                          <span class="technic-card__item-right">4900&nbsp;мм</span>
                        </li>
                      </ul>
                    </a>

                    <div class="technic-card__bot">

                      <a class="technic-card__button-primary button-primary" href="#">
                        <span class="button-primary__text">Получить КП</span>
                        <i class="button-primary__icon">
                          <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                          </svg>
                        </i>
                      </a>

                      <a class="technic-card__more" href="#">
                        <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                        </svg>
                      </a>
                    </div>
                  </article>
                </li>

                <li class="in-stock__item swiper-slide" style="width: 286px; margin-right: 32px;">
                  <article class="technic-card">
                    <a class="technic-card__link" href="#">
                      <div class="technic-card__badge">
                        <div class="technic-card__badge-info technic-card__badge-info--green">В&nbsp;наличии</div>
                      </div>

                      <img class="technic-card__img" src="img/technic/technic-card-img.png" alt="Картинка">

                      <h3 class="technic-card__title">Коленчатый подъемник Dingli BA11NE</h3>

                      <ul class="technic-card__list">
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Собственный вес</span>
                          <span class="technic-card__item-right">9000 кг</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Максимальный вес</span>
                          <span class="technic-card__item-right">11/13/15 т</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Габариты</span>
                          <span class="technic-card__item-right">5435×2240×2000 мм</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Радиус разворота</span>
                          <span class="technic-card__item-right">4900&nbsp;мм</span>
                        </li>
                      </ul>
                    </a>

                    <div class="technic-card__bot">

                      <a class="technic-card__button-primary button-primary" href="#">
                        <span class="button-primary__text">Получить КП</span>
                        <i class="button-primary__icon">
                          <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                          </svg>
                        </i>
                      </a>

                      <a class="technic-card__more" href="#">
                        <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                        </svg>
                      </a>
                    </div>
                  </article>
                </li>

                <li class="in-stock__item swiper-slide" style="width: 286px; margin-right: 32px;">
                  <article class="technic-card">
                    <a class="technic-card__link" href="#">
                      <div class="technic-card__badge">
                        <div class="technic-card__badge-info technic-card__badge-info--green">В&nbsp;наличии</div>
                      </div>

                      <img class="technic-card__img" src="img/technic/technic-card-img.png" alt="Картинка">

                      <h3 class="technic-card__title">Коленчатый подъемник Dingli BA11NE</h3>

                      <ul class="technic-card__list">
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Собственный вес</span>
                          <span class="technic-card__item-right">9000 кг</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Максимальный вес</span>
                          <span class="technic-card__item-right">11/13/15 т</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Габариты</span>
                          <span class="technic-card__item-right">5435×2240×2000 мм</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Радиус разворота</span>
                          <span class="technic-card__item-right">4900&nbsp;мм</span>
                        </li>
                      </ul>
                    </a>

                    <div class="technic-card__bot">

                      <a class="technic-card__button-primary button-primary" href="#">
                        <span class="button-primary__text">Получить КП</span>
                        <i class="button-primary__icon">
                          <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                          </svg>
                        </i>
                      </a>

                      <a class="technic-card__more" href="#">
                        <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                        </svg>
                      </a>
                    </div>
                  </article>
                </li>
              </ul>
            </div>

            <div class="in-stock__slider-controls">
              <button
                class="in-stock__slider-controls-prev slider-control slider-control--light-blue slider-control--prev swiper-button-disabled"
                aria-label="Назад" disabled="">
                <svg width="9" height="18" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 19L10 10L1 1" stroke="#00aef1" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
              </button>

              <div
                class="in-stock__progressbar slider-pagination swiper-pagination-progressbar swiper-pagination-horizontal">
                <span class="swiper-pagination-progressbar-fill"
                  style="transform: translate3d(0px, 0px, 0px) scaleX(0.333333) scaleY(1); transition-duration: 300ms;"></span>
              </div>

              <button
                class="in-stock__slider-controls-next slider-control slider-control--light-blue slider-control--next"
                aria-label="Назад">
                <svg width="9" height="18" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 19L10 10L1 1" stroke="#00aef1" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
              </button>
            </div>

            <a class="in-stock__button-primary in-stock__button-primary--mobile button-primary" href="#">
              <span class="button-primary__text">Весь каталог</span>
              <i class="button-primary__icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                </svg>
              </i>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="about-page__partners partners">
    <div class="container">
      <h2 class="partners__title title-block">Наши партнеры</h2>
    </div>

    <div class="partners__wrapper partners__wrapper--bottom-line partners__wrapper--top-line carousel">
      <ul class="partners__list carousel__items">
        <li class="partners__item">
          <img class="partners__img" src="img/partners/1.png" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/partners/2.png" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/partners/3.png" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/partners/4.png" alt="Логотип партнера">
        </li>

        <li class="partners__item partners__item--mobile">
          <img class="partners__img" src="img/partners/5.png" alt="Логотип партнера">
        </li>

        <li class="partners__item partners__item--mobile">
          <img class="partners__img" src="img/partners/6.png" alt="Логотип партнера">
        </li>
      </ul>

      <ul aria-hidden="" class="partners__list carousel__items">
        <li class="partners__item">
          <img class="partners__img" src="img/partners/1.png" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/partners/2.png" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/partners/3.png" alt="Логотип партнера">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="img/partners/4.png" alt="Логотип партнера">
        </li>

        <li class="partners__item partners__item--mobile">
          <img class="partners__img" src="img/partners/5.png" alt="Логотип партнера">
        </li>

        <li class="partners__item partners__item--mobile">
          <img class="partners__img" src="img/partners/6.png" alt="Логотип партнера">
        </li>
      </ul>
    </div>
  </div>
</section>
