<section class="services-rent-page">
  <div class="services-rent-page__head head-page">
    <div class="container">
      <div class="head-page__breadcrumbs breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="index.html">Главная</a></li>
          <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Услуги</a></li>
          <li class="breadcrumbs__item breadcrumbs__item--active"><span>Аренда</span></li>
        </ul>
      </div>

      <div class="head-page__wrapper">
        <h1 class="head-page__title">Аренда аэропортовой спецтехники и средств наземного обслуживания ВС</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="services-rent-page__wrapper">
      <div class="services-rent-page__content">
        <div class="text-block">
          <p class="text-block__text">Одним из направлений, которое активно развивает компания ООО «Технотрейд»,
            является услуга по предоставлению
            наземной спецтехники для обслуживания ВС в аренду. Благодаря складской программе «Техника в наличии» наша
            компания постоянно насчитывает более 40 единиц различной аэропортовой техники, начиная от багажных тележек,
            заканчивая сложными аэродромными снегоуборочными машинами и тягачами для буксировки ВС.</p>
          <p class="text-block__text">Мы предлагаем нашим клиентам аэропортовую спецтехнику в аренду, при этом мы
            обслуживаем не только Москву и
            Московскую область, но и предоставляем услуги по аренде спецтехники во всех регионах Российской Федерации.
            Доставка спецтехники возможна при условии заключения договора аренды на срок не менее 3 (трех) месяцев.</p>
        </div>

        <img class="services-rent-page__img" src="img/services-rent/1.jpg" alt="Картинка">

        <div class="text-block">
          <h2 class="text-block__title">Комплексные решения под ключ</h2>
          <p class="text-block__text">Аренда аэропортовой спецтехники станет выгодным решением для Вашего аэропорта или
            авиакомпании, если пассажирский трап, багажный тягач или другая спецтехника для наземного обслуживания ВС
            необходима вашей компании только в определенный период времени.</p>
          <p class="text-block__text">ООО «Технотрейд» предоставляет в аренду следующие типы аэропортовой спецтехники и
            средств наземного обслуживания ВС: самоходные пассажирские трапы, прицепные пассажирские трапы, перронные
            автобусы, кейтеринговые автолифты, амбулаторные автолифты, аэродромные тягачи для буксировки ВС,
            безводильные аэродромные тягачи, машины для обслуживания туалетных отсеков ВС, водозаправочные машины,
            азотозаправщики и кислородозаправщики, установки воздушного запуска, наземные источники электропитания ВС,
            аэродромные преобразователи, противообледенительные машины, мобильные подогреватели ВС, аэродромные
            кондиционеры ВС, аэродромные топливозаправщики, погрузчики контейнеров и паллет, транспортеры контейнеров и
            паллет, аэродромные багажные тягачи, контейнерные и багажные телеги, специальные шасси, компактные
            щеточно-продувочные машины, прицепные щеточно-продувочные машины, фрезерно-роторные снегоочистители,
            аэродромные распределители реагентов, аэродромные вакуумно-подметальные машины, оборудование для очистки
            светосигнальных огней, продувочные машины, аэродромные косилки, компактные вакуумно-подметальные машины,
            многофункциональные шасси, аэродромные пожарные машины и другую спецтехнику для наземного обслуживания
            воздушных судов и содержания аэродрома.</p>
        </div>

        <div class="text-block">
          <h2 class="text-block__title">Кто может арендовать?</h2>
          <p class="text-block__text">Заказать аэропортовую спецтехнику в аренду могут не только крупные аэропорты, но и
            представители хэндлинговых компаний. Минимальное время аренды спецтехники в зависимости от региона России
            составляет от 1 до 3 месяцев.
          </p>
          <p class="text-block__text">Для того что бы заказать наземную спецтехнику для обслуживания воздушных судов в
            аренду, Вам достаточно позвонить по телефонам, указанным на нашем сайте в рабочее время, или круглосуточно
            отправив заявку через форму обратной связи. Наши менеджеры будут рады предоставить Вам полную информацию по
            услуге «Аренда наземной спецтехники для обслуживания воздушных судов»
          </p>
          <p class="text-block__text">Ознакомиться с перечнем техники, доступной для аренды вы можете, перейдя в раздел
            сайта «Техника в наличии»</p>
        </div>
      </div>

      <div class="services-rent-page__right">
        <h4 class="services-rent-page__aside-title">Другие услуги Cаvag</h4>

        <aside class="services-rent-page__aside-menu-links aside-menu-links">
          <ul class="aside-menu-links__list">
            <li class="aside-menu-links__item"><a class="aside-menu-links__link" href="#">Поставка техники</a><svg
                width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 18L18 6M18 6H6M18 6V18" stroke="#004B9A" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg></li>
            <li class="aside-menu-links__item"><a class="aside-menu-links__link" href="#">Сервисное обслуживание</a><svg
                width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 18L18 6M18 6H6M18 6V18" stroke="#004B9A" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg></li>
            <li class="aside-menu-links__item"><a class="aside-menu-links__link" href="#">Поставка запчастей</a><svg
                width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 18L18 6M18 6H6M18 6V18" stroke="#004B9A" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg></li>
            <li class="aside-menu-links__item"><a class="aside-menu-links__link" href="#">Лизинг</a><svg width="24"
                height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 18L18 6M18 6H6M18 6V18" stroke="#004B9A" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg></li>
            <li class="aside-menu-links__item"><a class="aside-menu-links__link" href="#">Trade-in</a><svg width="24"
                height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 18L18 6M18 6H6M18 6V18" stroke="#004B9A" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg></li>
            <li class="aside-menu-links__item"><a class="aside-menu-links__link" href="#">Капитальный ремонт</a><svg
                width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 18L18 6M18 6H6M18 6V18" stroke="#004B9A" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg></li>
          </ul>
        </aside>
      </div>
    </div>
  </div>

  <div class="container container--large">
    <div class="container-decor">
      <div class="in-stock">
        <div class="container">

          <div class="in-stock__head">
            <h2 class="in-stock__title title-block">Техника в&nbsp;наличии</h2>

            <a class="in-stock__button-primary button-primary" href="#">
              <span class="button-primary__text">Весь каталог</span>
              <i class="button-primary__icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                </svg>
              </i>
            </a>
          </div>

          <div class="in-stock__slider-wrapper">
            <div class="in-stock__slider swiper swiper-initialized swiper-horizontal swiper-backface-hidden">
              <ul class="in-stock__list swiper-wrapper">
                <li class="in-stock__item swiper-slide swiper-slide-active" style="width: 286px; margin-right: 32px;">
                  <article class="technic-card">
                    <a class="technic-card__link" href="#">
                      <div class="technic-card__badge">
                        <div class="technic-card__badge-info technic-card__badge-info--green">В&nbsp;наличии</div>
                      </div>

                      <img class="technic-card__img" src="img/technic/technic-card-img.png" alt="Картинка">

                      <h3 class="technic-card__title">Коленчатый подъемник Dingli BA11NE</h3>

                      <ul class="technic-card__list">
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Собственный вес</span>
                          <span class="technic-card__item-right">9000 кг</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Максимальный вес</span>
                          <span class="technic-card__item-right">11/13/15 т</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Габариты</span>
                          <span class="technic-card__item-right">5435×2240×2000 мм</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Радиус разворота</span>
                          <span class="technic-card__item-right">4900&nbsp;мм</span>
                        </li>
                      </ul>
                    </a>

                    <div class="technic-card__bot">

                      <a class="technic-card__button-primary button-primary" href="#">
                        <span class="button-primary__text">Получить КП</span>
                        <i class="button-primary__icon">
                          <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                          </svg>
                        </i>
                      </a>

                      <a class="technic-card__more" href="#">
                        <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                        </svg>
                      </a>
                    </div>
                  </article>
                </li>

                <li class="in-stock__item swiper-slide swiper-slide-next" style="width: 286px; margin-right: 32px;">
                  <article class="technic-card">
                    <a class="technic-card__link" href="#">
                      <div class="technic-card__badge">
                        <div class="technic-card__badge-info technic-card__badge-info--green">В&nbsp;наличии</div>
                      </div>

                      <img class="technic-card__img" src="img/technic/technic-card-img.png" alt="Картинка">

                      <h3 class="technic-card__title">Коленчатый подъемник Dingli BA11NE</h3>

                      <ul class="technic-card__list">
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Собственный вес</span>
                          <span class="technic-card__item-right">9000 кг</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Максимальный вес</span>
                          <span class="technic-card__item-right">11/13/15 т</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Габариты</span>
                          <span class="technic-card__item-right">5435×2240×2000 мм</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Радиус разворота</span>
                          <span class="technic-card__item-right">4900&nbsp;мм</span>
                        </li>
                      </ul>
                    </a>

                    <div class="technic-card__bot">

                      <a class="technic-card__button-primary button-primary" href="#">
                        <span class="button-primary__text">Получить КП</span>
                        <i class="button-primary__icon">
                          <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                          </svg>
                        </i>
                      </a>

                      <a class="technic-card__more" href="#">
                        <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                        </svg>
                      </a>
                    </div>
                  </article>
                </li>

                <li class="in-stock__item swiper-slide" style="width: 286px; margin-right: 32px;">
                  <article class="technic-card">
                    <a class="technic-card__link" href="#">
                      <div class="technic-card__badge">
                        <div class="technic-card__badge-info technic-card__badge-info--green">В&nbsp;наличии</div>
                      </div>

                      <img class="technic-card__img" src="img/technic/technic-card-img.png" alt="Картинка">

                      <h3 class="technic-card__title">Коленчатый подъемник Dingli BA11NE</h3>

                      <ul class="technic-card__list">
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Собственный вес</span>
                          <span class="technic-card__item-right">9000 кг</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Максимальный вес</span>
                          <span class="technic-card__item-right">11/13/15 т</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Габариты</span>
                          <span class="technic-card__item-right">5435×2240×2000 мм</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Радиус разворота</span>
                          <span class="technic-card__item-right">4900&nbsp;мм</span>
                        </li>
                      </ul>
                    </a>

                    <div class="technic-card__bot">

                      <a class="technic-card__button-primary button-primary" href="#">
                        <span class="button-primary__text">Получить КП</span>
                        <i class="button-primary__icon">
                          <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                          </svg>
                        </i>
                      </a>

                      <a class="technic-card__more" href="#">
                        <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                        </svg>
                      </a>
                    </div>
                  </article>
                </li>

                <li class="in-stock__item swiper-slide" style="width: 286px; margin-right: 32px;">
                  <article class="technic-card">
                    <a class="technic-card__link" href="#">
                      <div class="technic-card__badge">
                        <div class="technic-card__badge-info technic-card__badge-info--green">В&nbsp;наличии</div>
                      </div>

                      <img class="technic-card__img" src="img/technic/technic-card-img.png" alt="Картинка">

                      <h3 class="technic-card__title">Коленчатый подъемник Dingli BA11NE</h3>

                      <ul class="technic-card__list">
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Собственный вес</span>
                          <span class="technic-card__item-right">9000 кг</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Максимальный вес</span>
                          <span class="technic-card__item-right">11/13/15 т</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Габариты</span>
                          <span class="technic-card__item-right">5435×2240×2000 мм</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Радиус разворота</span>
                          <span class="technic-card__item-right">4900&nbsp;мм</span>
                        </li>
                      </ul>
                    </a>

                    <div class="technic-card__bot">

                      <a class="technic-card__button-primary button-primary" href="#">
                        <span class="button-primary__text">Получить КП</span>
                        <i class="button-primary__icon">
                          <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                          </svg>
                        </i>
                      </a>

                      <a class="technic-card__more" href="#">
                        <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                        </svg>
                      </a>
                    </div>
                  </article>
                </li>

                <li class="in-stock__item swiper-slide" style="width: 286px; margin-right: 32px;">
                  <article class="technic-card">
                    <a class="technic-card__link" href="#">
                      <div class="technic-card__badge">
                        <div class="technic-card__badge-info technic-card__badge-info--green">В&nbsp;наличии</div>
                      </div>

                      <img class="technic-card__img" src="img/technic/technic-card-img.png" alt="Картинка">

                      <h3 class="technic-card__title">Коленчатый подъемник Dingli BA11NE</h3>

                      <ul class="technic-card__list">
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Собственный вес</span>
                          <span class="technic-card__item-right">9000 кг</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Максимальный вес</span>
                          <span class="technic-card__item-right">11/13/15 т</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Габариты</span>
                          <span class="technic-card__item-right">5435×2240×2000 мм</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Радиус разворота</span>
                          <span class="technic-card__item-right">4900&nbsp;мм</span>
                        </li>
                      </ul>
                    </a>

                    <div class="technic-card__bot">

                      <a class="technic-card__button-primary button-primary" href="#">
                        <span class="button-primary__text">Получить КП</span>
                        <i class="button-primary__icon">
                          <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                          </svg>
                        </i>
                      </a>

                      <a class="technic-card__more" href="#">
                        <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                        </svg>
                      </a>
                    </div>
                  </article>
                </li>

                <li class="in-stock__item swiper-slide" style="width: 286px; margin-right: 32px;">
                  <article class="technic-card">
                    <a class="technic-card__link" href="#">
                      <div class="technic-card__badge">
                        <div class="technic-card__badge-info technic-card__badge-info--green">В&nbsp;наличии</div>
                      </div>

                      <img class="technic-card__img" src="img/technic/technic-card-img.png" alt="Картинка">

                      <h3 class="technic-card__title">Коленчатый подъемник Dingli BA11NE</h3>

                      <ul class="technic-card__list">
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Собственный вес</span>
                          <span class="technic-card__item-right">9000 кг</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Максимальный вес</span>
                          <span class="technic-card__item-right">11/13/15 т</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Габариты</span>
                          <span class="technic-card__item-right">5435×2240×2000 мм</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Радиус разворота</span>
                          <span class="technic-card__item-right">4900&nbsp;мм</span>
                        </li>
                      </ul>
                    </a>

                    <div class="technic-card__bot">

                      <a class="technic-card__button-primary button-primary" href="#">
                        <span class="button-primary__text">Получить КП</span>
                        <i class="button-primary__icon">
                          <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                          </svg>
                        </i>
                      </a>

                      <a class="technic-card__more" href="#">
                        <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                        </svg>
                      </a>
                    </div>
                  </article>
                </li>
              </ul>
            </div>

            <div class="in-stock__slider-controls">
              <button
                class="in-stock__slider-controls-prev slider-control slider-control--light-blue slider-control--prev swiper-button-disabled"
                aria-label="Назад" disabled="">
                <svg width="9" height="18" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 19L10 10L1 1" stroke="#00aef1" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
              </button>

              <div
                class="in-stock__progressbar slider-pagination swiper-pagination-progressbar swiper-pagination-horizontal">
                <span class="swiper-pagination-progressbar-fill"
                  style="transform: translate3d(0px, 0px, 0px) scaleX(0.333333) scaleY(1); transition-duration: 300ms;"></span>
              </div>

              <button
                class="in-stock__slider-controls-next slider-control slider-control--light-blue slider-control--next"
                aria-label="Назад">
                <svg width="9" height="18" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 19L10 10L1 1" stroke="#00aef1" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
              </button>
            </div>

            <a class="in-stock__button-primary in-stock__button-primary--mobile button-primary" href="#">
              <span class="button-primary__text">Весь каталог</span>
              <i class="button-primary__icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                </svg>
              </i>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>