<section class="services-leasing-page">
  <div class="services-leasing-page__head head-page">
    <div class="container">
      <div class="head-page__inner">
        <div class="head-page__breadcrumbs breadcrumbs">
          <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="index.html">Главная</a></li>
            <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Услуги</a></li>
            <li class="breadcrumbs__item breadcrumbs__item--active"><span>Лизинг</span></li>
          </ul>
        </div>

        <div class="head-page__wrapper">
          <h1 class="head-page__title">Лизинг</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="services-leasing-page__wrapper">
      <div class="services-leasing-page__content">
        <div class="text-block">
          <p class="text-block__text">В настоящее время организации все чаще приобретают транспортные средства,
            аэропортовую технику и коммунальную технику посредством заключения договора финансовой аренды (лизинга). Это
            связано с тем, что использование лизинга позволяет избежать резкого оттока денежных средств, который
            характерен для договора поставки.</p>
          <p class="text-block__text"></p>
        </div>

        <img class="services-leasing-page__img" src="img/services-leasing/1.jpg" alt="Картинка">

        <div class="text-block">
          <p class="text-block__text">ООО «Технотрейд» готова предложить различные схемы лизинга для аэропортов,
            авиакомпаний, хэндлинговых компаний всех регионов Российской Федерации и стран СНГ.</p>
          <p class="text-block__text">Предметом лизинга могут являться: аэропортовая техника, техника для наземного
            обслуживания воздушных судов, аэродромные и снегоуборочные машины, коммунальная техника,
            дорожно-строительная техника, мусоровозы, прочая спецтехника и специализированное оборудование.</p>
          <p class="text-block__text">Стоимость предмета лизинга может варьировать от 1.000.000,00 до 150.000.000,00
            рублей и более. Авансовый платеж: от 0% (в зависимости от программы, типа оборудования, условий поставки, и
            производства). Срок лизинга определяется банковской организацией и может варьировать от 1 года до 5 лет и
            более.</p>
          <p class="text-block__text">Для принятия решения о финансировании от клиента необходимо получить:</p>

          <ul class="text-block__list">
            <li class="text-block__item">Копии уставных документов</li>
            <li class="text-block__item">Копии финансовой отчетности формы Ф1 и Ф2 за последний отчетный год и последний
              отчетный период (для юр. лиц).</li>
          </ul>

          <p class="text-block__text">В случае, если Вам необходимо финансирование, наш опыт сотрудничества с ведущими
            лизинговыми компаниями России позволит нам подобрать для Вас максимально оптимальные и выгодные условия
            финансирования. Срок рассмотрения заявок, при наличии полного комплекта документов составляет не более
            одного-трех дней.</p>
        </div>

        <ul class="services-leasing-page__company">
          <li class="services-leasing-page__company-item">
            <img class="services-leasing-page__company-img" src="img/services-leasing/gtlk.jpg" alt="Картинка">

            <div class="services-leasing-page__company-content">
              <h3 class="services-leasing-page__company-title">ОАО «ГТЛК»</h3>

              <div class="services-leasing-page__company-text text-block">
                <p class="text-block__text">Государственная транспортная лизинговая компания (ГТЛК) предоставляет нашим
                  клиентам уникальные возможности для приобретения техники в лизинг.</p>
                <p class="text-block__text">Благодаря сотрудничеству с ГТЛК можно получить авиационную, железнодорожную,
                  водную и автомобильную технику, а также специализированное оборудование на выгодных условиях
                  финансирования. Надежность и лидерство компании подтверждаются её высокими рейтингами и успешной
                  реализацией государственных задач в транспортной отрасли.</p>
              </div>

              <button class="services-leasing-page__company-btn button-primary button-primary--transparent" href="#">
                <i class="button-primary__icon">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                  </svg>
                </i>

                <span class="button-primary__text">Подробнее</span>
              </button>
            </div>
          </li>

          <li class="services-leasing-page__company-item">
            <img class="services-leasing-page__company-img" src="img/services-leasing/sib.jpg" alt="Картинка">

            <div class="services-leasing-page__company-content">
              <h3 class="services-leasing-page__company-title">ООО «Сибирская лизинговая компания»</h3>

              <div class="services-leasing-page__company-text text-block">
                <p class="text-block__text">ООО «Сибирская лизинговая компания» предлагает нашим клиентам гибкие
                  возможности для оформления техники и оборудования в лизинг с последующим переходом права
                  собственности. Индивидуальные условия позволяют адаптировать график платежей, размер аванса и сроки
                  сделки под конкретные задачи бизнеса. Сотрудничество с компанией обеспечивает экономию средств,
                  оптимизацию затрат и поддержку в реализации проектов без финансовых задержек.</p>
              </div>

              <button class="services-leasing-page__company-btn button-primary button-primary--transparent" href="#">
                <i class="button-primary__icon">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                  </svg>
                </i>

                <span class="button-primary__text">Подробнее</span>
              </button>
            </div>
          </li>

          <li class="services-leasing-page__company-item">
            <img class="services-leasing-page__company-img" src="img/services-leasing/vtb.jpg" alt="Картинка">

            <div class="services-leasing-page__company-content">
              <h3 class="services-leasing-page__company-title">ВТБ Лизинг</h3>

              <div class="services-leasing-page__company-text text-block">
                <p class="text-block__text">ВТБ Лизинг — надежный партнер для наших клиентов, предлагающий выгодные
                  программы лизинга на железнодорожную, автомобильную и специализированную технику, а также оборудование
                  и суда. Сотрудничество с ВТБ Лизинг позволяет эффективно финансировать проекты любого масштаба,
                  поддерживая устойчивое развитие бизнеса и экономики.
                </p>
              </div>

              <button class="services-leasing-page__company-btn button-primary button-primary--transparent" href="#">
                <i class="button-primary__icon">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                  </svg>
                </i>

                <span class="button-primary__text">Подробнее</span>
              </button>
            </div>
          </li>

          <li class="services-leasing-page__company-item">
            <img class="services-leasing-page__company-img" src="img/services-leasing/ural.jpg" alt="Картинка">

            <div class="services-leasing-page__company-content">
              <h3 class="services-leasing-page__company-title">ООО «Лизинговая компания Уралсиб»</h3>

              <div class="services-leasing-page__company-text text-block">
                <p class="text-block__text">ПАО «Банк Уралсиб» предоставляет нашим клиентам выгодные программы лизинга
                  для приобретения транспорта и спецтехники без отвлечения оборотных средств. Удобные условия включают
                  минимальный пакет документов, индивидуальный график платежей и быстрое принятие решений — всего за 1
                  час. Лизинговые программы охватывают широкий спектр техники и оборудования, предлагая гибкость и
                  экономию на налогах. Сотрудничество с Банком Уралсиб позволяет нашим клиентам реализовывать проекты с
                  минимальными затратами и максимальным удобством.
                </p>
              </div>

              <button class="services-leasing-page__company-btn button-primary button-primary--transparent" href="#">
                <i class="button-primary__icon">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                  </svg>
                </i>

                <span class="button-primary__text">Подробнее</span>
              </button>
            </div>
          </li>

          <li class="services-leasing-page__company-item">
            <img class="services-leasing-page__company-img" src="img/services-leasing/euro.jpg" alt="Картинка">

            <div class="services-leasing-page__company-content">
              <h3 class="services-leasing-page__company-title">АО «Европлан»</h3>

              <div class="services-leasing-page__company-text text-block">
                <p class="text-block__text">Европлан — крупнейшая независимая лизинговая компания в России,
                  специализирующаяся на автотранспорте и спецтехнике. Наши клиенты получают доступ к удобным программам
                  лизинга, страхованию, автоуслугам и полной поддержке на всех этапах сделки. Более 20 лет успешной
                  работы, лидерство в автолизинге и широкая сеть из 93 офисов по всей стране делают Европлан надежным
                  партнером для бизнеса любого масштаба.
                </p>
              </div>

              <button class="services-leasing-page__company-btn button-primary button-primary--transparent" href="#">
                <i class="button-primary__icon">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                  </svg>
                </i>

                <span class="button-primary__text">Подробнее</span>
              </button>
            </div>
          </li>

          <li class="services-leasing-page__company-item">
            <img class="services-leasing-page__company-img" src="img/services-leasing/univer.jpg" alt="Картинка">

            <div class="services-leasing-page__company-content">
              <h3 class="services-leasing-page__company-title">АО «Универсальная лизинговая компания»</h3>

              <div class="services-leasing-page__company-text text-block">
                <p class="text-block__text">АО «Универсальная лизинговая компания» — ведущий партнер для наших клиентов
                  на Дальнем Востоке, предоставляющий лизинговые решения для спецтехники, транспорта, недвижимости,
                  судов и оборудования. Быстрое принятие решений (всего 8 часов), гибкость условий и участие в
                  государственных программах делают сотрудничество с компанией эффективным и удобным. Универсальная
                  лизинговая компания входит в ТОП-15 лизинговых компаний России и предлагает поддержку бизнеса любого
                  масштаба.
                </p>
              </div>

              <button class="services-leasing-page__company-btn button-primary button-primary--transparent" href="#">
                <i class="button-primary__icon">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                  </svg>
                </i>

                <span class="button-primary__text">Подробнее</span>
              </button>
            </div>
          </li>
        </ul>
      </div>

      <div class="services-leasing-page__right">
        <h4 class="services-leasing-page__aside-title">Другие услуги Cаvag</h4>

        <aside class="services-leasing-page__aside-menu-links aside-menu-links">
          <ul class="aside-menu-links__list">
            <li class="aside-menu-links__item"><a class="aside-menu-links__link" href="#">Поставка техники</a><svg
                width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 18L18 6M18 6H6M18 6V18" stroke="#004B9A" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg></li>
            <li class="aside-menu-links__item"><a class="aside-menu-links__link" href="#">Сервисное обслуживание</a><svg
                width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 18L18 6M18 6H6M18 6V18" stroke="#004B9A" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg></li>
            <li class="aside-menu-links__item"><a class="aside-menu-links__link" href="#">Поставка запчастей</a><svg
                width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 18L18 6M18 6H6M18 6V18" stroke="#004B9A" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg></li>
            <li class="aside-menu-links__item"><a class="aside-menu-links__link" href="#">Лизинг</a><svg width="24"
                height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 18L18 6M18 6H6M18 6V18" stroke="#004B9A" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg></li>
            <li class="aside-menu-links__item"><a class="aside-menu-links__link" href="#">Trade-in</a><svg width="24"
                height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 18L18 6M18 6H6M18 6V18" stroke="#004B9A" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg></li>
            <li class="aside-menu-links__item"><a class="aside-menu-links__link" href="#">Капитальный ремонт</a><svg
                width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 18L18 6M18 6H6M18 6V18" stroke="#004B9A" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg></li>
          </ul>
        </aside>
      </div>
    </div>
  </div>

  <div class="container container--large">
    <div class="container-decor">
      <div class="in-stock">
        <div class="container">

          <div class="in-stock__head">
            <h2 class="in-stock__title title-block">Техника в&nbsp;наличии</h2>

            <a class="in-stock__button-primary button-primary" href="#">
              <span class="button-primary__text">Весь каталог</span>
              <i class="button-primary__icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                </svg>
              </i>
            </a>
          </div>

          <div class="in-stock__slider-wrapper">
            <div class="in-stock__slider swiper swiper-initialized swiper-horizontal swiper-backface-hidden">
              <ul class="in-stock__list swiper-wrapper">
                <li class="in-stock__item swiper-slide swiper-slide-active" style="width: 286px; margin-right: 32px;">
                  <article class="technic-card">
                    <a class="technic-card__link" href="#">
                      <div class="technic-card__badge">
                        <div class="technic-card__badge-info technic-card__badge-info--green">В&nbsp;наличии</div>
                      </div>

                      <img class="technic-card__img" src="img/technic/technic-card-img.png" alt="Картинка">

                      <h3 class="technic-card__title">Коленчатый подъемник Dingli BA11NE</h3>

                      <ul class="technic-card__list">
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Собственный вес</span>
                          <span class="technic-card__item-right">9000 кг</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Максимальный вес</span>
                          <span class="technic-card__item-right">11/13/15 т</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Габариты</span>
                          <span class="technic-card__item-right">5435×2240×2000 мм</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Радиус разворота</span>
                          <span class="technic-card__item-right">4900&nbsp;мм</span>
                        </li>
                      </ul>
                    </a>

                    <div class="technic-card__bot">

                      <a class="technic-card__button-primary button-primary" href="#">
                        <span class="button-primary__text">Получить КП</span>
                        <i class="button-primary__icon">
                          <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                          </svg>
                        </i>
                      </a>

                      <a class="technic-card__more" href="#">
                        <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                        </svg>
                      </a>
                    </div>
                  </article>
                </li>

                <li class="in-stock__item swiper-slide swiper-slide-next" style="width: 286px; margin-right: 32px;">
                  <article class="technic-card">
                    <a class="technic-card__link" href="#">
                      <div class="technic-card__badge">
                        <div class="technic-card__badge-info technic-card__badge-info--green">В&nbsp;наличии</div>
                      </div>

                      <img class="technic-card__img" src="img/technic/technic-card-img.png" alt="Картинка">

                      <h3 class="technic-card__title">Коленчатый подъемник Dingli BA11NE</h3>

                      <ul class="technic-card__list">
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Собственный вес</span>
                          <span class="technic-card__item-right">9000 кг</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Максимальный вес</span>
                          <span class="technic-card__item-right">11/13/15 т</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Габариты</span>
                          <span class="technic-card__item-right">5435×2240×2000 мм</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Радиус разворота</span>
                          <span class="technic-card__item-right">4900&nbsp;мм</span>
                        </li>
                      </ul>
                    </a>

                    <div class="technic-card__bot">

                      <a class="technic-card__button-primary button-primary" href="#">
                        <span class="button-primary__text">Получить КП</span>
                        <i class="button-primary__icon">
                          <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                          </svg>
                        </i>
                      </a>

                      <a class="technic-card__more" href="#">
                        <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                        </svg>
                      </a>
                    </div>
                  </article>
                </li>

                <li class="in-stock__item swiper-slide" style="width: 286px; margin-right: 32px;">
                  <article class="technic-card">
                    <a class="technic-card__link" href="#">
                      <div class="technic-card__badge">
                        <div class="technic-card__badge-info technic-card__badge-info--green">В&nbsp;наличии</div>
                      </div>

                      <img class="technic-card__img" src="img/technic/technic-card-img.png" alt="Картинка">

                      <h3 class="technic-card__title">Коленчатый подъемник Dingli BA11NE</h3>

                      <ul class="technic-card__list">
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Собственный вес</span>
                          <span class="technic-card__item-right">9000 кг</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Максимальный вес</span>
                          <span class="technic-card__item-right">11/13/15 т</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Габариты</span>
                          <span class="technic-card__item-right">5435×2240×2000 мм</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Радиус разворота</span>
                          <span class="technic-card__item-right">4900&nbsp;мм</span>
                        </li>
                      </ul>
                    </a>

                    <div class="technic-card__bot">

                      <a class="technic-card__button-primary button-primary" href="#">
                        <span class="button-primary__text">Получить КП</span>
                        <i class="button-primary__icon">
                          <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                          </svg>
                        </i>
                      </a>

                      <a class="technic-card__more" href="#">
                        <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                        </svg>
                      </a>
                    </div>
                  </article>
                </li>

                <li class="in-stock__item swiper-slide" style="width: 286px; margin-right: 32px;">
                  <article class="technic-card">
                    <a class="technic-card__link" href="#">
                      <div class="technic-card__badge">
                        <div class="technic-card__badge-info technic-card__badge-info--green">В&nbsp;наличии</div>
                      </div>

                      <img class="technic-card__img" src="img/technic/technic-card-img.png" alt="Картинка">

                      <h3 class="technic-card__title">Коленчатый подъемник Dingli BA11NE</h3>

                      <ul class="technic-card__list">
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Собственный вес</span>
                          <span class="technic-card__item-right">9000 кг</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Максимальный вес</span>
                          <span class="technic-card__item-right">11/13/15 т</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Габариты</span>
                          <span class="technic-card__item-right">5435×2240×2000 мм</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Радиус разворота</span>
                          <span class="technic-card__item-right">4900&nbsp;мм</span>
                        </li>
                      </ul>
                    </a>

                    <div class="technic-card__bot">

                      <a class="technic-card__button-primary button-primary" href="#">
                        <span class="button-primary__text">Получить КП</span>
                        <i class="button-primary__icon">
                          <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                          </svg>
                        </i>
                      </a>

                      <a class="technic-card__more" href="#">
                        <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                        </svg>
                      </a>
                    </div>
                  </article>
                </li>

                <li class="in-stock__item swiper-slide" style="width: 286px; margin-right: 32px;">
                  <article class="technic-card">
                    <a class="technic-card__link" href="#">
                      <div class="technic-card__badge">
                        <div class="technic-card__badge-info technic-card__badge-info--green">В&nbsp;наличии</div>
                      </div>

                      <img class="technic-card__img" src="img/technic/technic-card-img.png" alt="Картинка">

                      <h3 class="technic-card__title">Коленчатый подъемник Dingli BA11NE</h3>

                      <ul class="technic-card__list">
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Собственный вес</span>
                          <span class="technic-card__item-right">9000 кг</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Максимальный вес</span>
                          <span class="technic-card__item-right">11/13/15 т</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Габариты</span>
                          <span class="technic-card__item-right">5435×2240×2000 мм</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Радиус разворота</span>
                          <span class="technic-card__item-right">4900&nbsp;мм</span>
                        </li>
                      </ul>
                    </a>

                    <div class="technic-card__bot">

                      <a class="technic-card__button-primary button-primary" href="#">
                        <span class="button-primary__text">Получить КП</span>
                        <i class="button-primary__icon">
                          <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                          </svg>
                        </i>
                      </a>

                      <a class="technic-card__more" href="#">
                        <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                        </svg>
                      </a>
                    </div>
                  </article>
                </li>

                <li class="in-stock__item swiper-slide" style="width: 286px; margin-right: 32px;">
                  <article class="technic-card">
                    <a class="technic-card__link" href="#">
                      <div class="technic-card__badge">
                        <div class="technic-card__badge-info technic-card__badge-info--green">В&nbsp;наличии</div>
                      </div>

                      <img class="technic-card__img" src="img/technic/technic-card-img.png" alt="Картинка">

                      <h3 class="technic-card__title">Коленчатый подъемник Dingli BA11NE</h3>

                      <ul class="technic-card__list">
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Собственный вес</span>
                          <span class="technic-card__item-right">9000 кг</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Максимальный вес</span>
                          <span class="technic-card__item-right">11/13/15 т</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Габариты</span>
                          <span class="technic-card__item-right">5435×2240×2000 мм</span>
                        </li>
                        <li class="technic-card__item">
                          <span class="technic-card__item-left">Радиус разворота</span>
                          <span class="technic-card__item-right">4900&nbsp;мм</span>
                        </li>
                      </ul>
                    </a>

                    <div class="technic-card__bot">

                      <a class="technic-card__button-primary button-primary" href="#">
                        <span class="button-primary__text">Получить КП</span>
                        <i class="button-primary__icon">
                          <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                          </svg>
                        </i>
                      </a>

                      <a class="technic-card__more" href="#">
                        <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 8H17M17 8L10 1M17 8L10 15" stroke="white" stroke-width="2.5"></path>
                        </svg>
                      </a>
                    </div>
                  </article>
                </li>
              </ul>
            </div>

            <div class="in-stock__slider-controls">
              <button
                class="in-stock__slider-controls-prev slider-control slider-control--light-blue slider-control--prev swiper-button-disabled"
                aria-label="Назад" disabled="">
                <svg width="9" height="18" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 19L10 10L1 1" stroke="#00aef1" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
              </button>

              <div
                class="in-stock__progressbar slider-pagination swiper-pagination-progressbar swiper-pagination-horizontal">
                <span class="swiper-pagination-progressbar-fill"
                  style="transform: translate3d(0px, 0px, 0px) scaleX(0.333333) scaleY(1); transition-duration: 300ms;"></span>
              </div>

              <button
                class="in-stock__slider-controls-next slider-control slider-control--light-blue slider-control--next"
                aria-label="Назад">
                <svg width="9" height="18" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 19L10 10L1 1" stroke="#00aef1" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
              </button>
            </div>

            <a class="in-stock__button-primary in-stock__button-primary--mobile button-primary" href="#">
              <span class="button-primary__text">Весь каталог</span>
              <i class="button-primary__icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 8H14M14 8L7 1M14 8L7 15" stroke="#00AEF1" stroke-width="1.5"></path>
                </svg>
              </i>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>