.carousel {
  display: flex;
  column-gap: 60px;
  position: relative;
  > * {
    flex: 0 0 100%;
  }

  &__items {
    will-change: transform;
    animation: scrolling 40s linear infinite;
    flex: 0 0 100%;
    column-gap: 60px;

    @media screen and (width <= 768px) {
      &:not(:last-child) {
        margin-right: 12px;
      }
    }
  }
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
