.flag {
  border-radius: 25px;
  padding: 3px 16px;
  background-color: var(--green);
  color: var(--white);
  font-weight: 500;
  font-family: 'RobotoMedium';
  font-size: 12px;
  line-height: 1.3;
}
