.product-info {
  &__info-item {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 1.9;
    padding-bottom: 4px;
    border-bottom: 1px solid var(--liner);

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  &__info-name {
    margin-right: 10px;
    color: var(--gray);
  }

  &__info-meaning {
    font-weight: 600;
    font-family: 'RobotoBold';
  }
}
