.subcategory-list {
  &__item {
    background-color: var(--bg-gray);
    border-radius: 16px;
    padding: 24px;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 16px;

      @media screen and (width <=768px) {
        margin-bottom: 32px;
      }
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    margin-bottom: 24px;
  }

  &__flag {
    border-radius: 25px;
    padding: 3px 16px;
    background-color: var(--green);
    color: var(--white);
    font-weight: 500;
    font-family: 'RobotoMedium';
    font-size: 12px;
    line-height: 1.3;
    align-self: flex-start;
  }

  &__title {
    font-family: 'DrukMedium';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    text-transform: uppercase;

    @media screen and (width <= 768px) {
      font-size: 14px;
    }
  }

  &__wrapper {
    display: flex;
    column-gap: 24px;
  }

  &__img {
    border-radius: 8px;
    max-width: 292px;
    width: 100%;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__info {
    margin-bottom: 16px;
  }

  &__info-item {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 1.9;
    padding-bottom: 4px;
    border-bottom: 1px solid var(--liner);

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  &__info-name {
    margin-right: 10px;
    color: var(--gray);
  }

  &__info-meaning {
    font-weight: 600;
    font-family: 'RobotoBold';
  }

  &__btns {
    display: flex;
    column-gap: 6px;
    align-self: flex-end;
  }

  &__more {
    width: 46px;
    height: 46px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.3s;

    svg {
      transform: rotate(-45deg);

      path {
        stroke: var(--light-blue);
        transition: all 0.3s;
      }
      margin: 0;
    }

    &:hover {
      background-color: var(--light-blue);

      svg {
        path {
          stroke: var(--white);
        }
      }
    }
  }
}
