.partners {
  padding: 80px 0;

  @media screen and (width <= 768px) {
    padding: 48px 0;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    @media screen and (width <= 768px) {
      margin-bottom: 14px;
    }
  }

  &__button-primary {
    @media screen and (width <= 768px) {
      display: none;
    }

    &--mobile {
      display: none;

      @media screen and (width <= 768px) {
        width: fit-content;
        display: flex;
      }
    }
  }

  &__title {
    font-weight: 500;
    margin-bottom: 32px;

    @media screen and (width <= 768px) {
      margin-bottom: 24px;
    }
  }

  &__wrapper {
    position: relative;

    &--bottom-line {
      &::before {
        content: '';
        width: 100%;
        height: 1px;
        background-color: var(--liner);
        position: absolute;
        left: 0;
        bottom: -80px;

        @media screen and (width <= 768px) {
          content: '';
          width: 100%;
          height: 1px;
          background-color: var(--liner);
          position: absolute;
          left: 0;
          bottom: -48px;
        }
      }
    }

    &--top-line {
      &::after {
        top: -80px;

        @media screen and (width <= 768px) {
          top: -48px;
        }
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media screen and (width <= 768px) {
      column-gap: 12px;
      margin-bottom: 24px;
    }
  }

  &__item {
    width: 150px;

    &--mobile {
      @media screen and (width <= 980px) {
        display: none;
      }
    }
  }
}
