.partners {
  padding: 80px 0;

  @media screen and (width <= 768px) {
    padding: 48px 0;
  }

  &__wrapper {
    position: relative;

    &::before {
      content: '';
      width: 100%;
      height: 1px;
      background-color: var(--liner);
      position: absolute;
      left: 0;
    }

    &--bottom-line {
      &::before {
        bottom: -80px;

        @media screen and (width <= 768px) {
          bottom: -48px;
        }
      }
    }

    &--top-line {
      &::before {
        top: -80px;

        @media screen and (width <= 768px) {
          top: -48px;
        }
      }
    }
  }

  &__title {
    margin-bottom: 32px;
    font-weight: 500;

    @media screen and (width <= 768px) {
      margin-bottom: 24px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 69px;

    @media screen and (width <= 768px) {
      column-gap: 12px;
    }
  }

  &__item {
    &--mobile {
      @media screen and (width <= 980px) {
        display: none;
      }
    }
  }
}
